[2020-11-05 15:14] Emily-Jiang opened #1 "Define release process"
Define release process for MicroProfile spec releases

[2020-11-05 15:18] Emily-Jiang commented on #1
This issue is based on https://github.com/eclipse/microprofile/pull/193 with further update to adapt the current MicroProfile process.

[2020-11-05 17:10] Emily-Jiang opened #4 "MP Config 2.0 spec release Dry Run"
- [x] Specification name and version:
MicroProfile Config 2.0

- [x] Add a label from one of: Creation Review, Plan Review, Progress Review, Release Review

- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-_project_-spec-_version_.pdf
   - [x] Specification HTML in the form of microprofile-_project_-spec-_version_.html
   - _project_ is the microprofil

[2020-11-05 17:37] kwsutter commented on #4
Having the extra "pdf" and "html" in the spec file names should not be a requirement.  Maven already allows the same file name with different type extensions.  Let's clean that up.

[2020-11-05 17:50] Emily-Jiang commented on #4
In order to push both .pdf and .html under the same dir, we have to use classifier to differentiate. We had a lengthy conversation [here](https://gitter.im/eclipse/microprofile-config?at=5fa3c90eb86f640704313c76)

[2020-11-05 17:54] radcortez commented on #4
Hum, actually I had a better look I think that the attach plugin supports it. Let me give it a try.

[2020-11-05 17:55] kwsutter commented on #4
Thanks, @radcortez.  This should be doable.

[2020-11-05 18:58] kwsutter commented on #4
For the Compatible Impl and TCK section, should we reference a version of your [compatible-certification-request.md template](https://github.com/microprofile/microprofile-wg/pull/2/files#diff-8818f51870213a0d46ecd76dd562d24f79ef610f8c8eac6a6f9e2786f5b8ffe5)?  But, we need to indicate that this is filed against the Specification Component repo (ie. microprofile-config), not the microprofile-wg repo

[2020-11-05 19:01] kwsutter commented on #4
I made several updates to the [top level Comment](https://github.com/microprofile/microprofile-wg/issues/4#issue-737113512) with the hope that my other comments and suggestions hold...  I think this is getting very close to translating to a template.

[2020-11-06 00:43] radcortez commented on #4
https://github.com/eclipse/microprofile-config/pull/652 should remove the classifier names in the spec files. I'm not going to rerelease just yet. We may need additional changes.

[2020-11-06 00:48] radcortez commented on #4
Is this required also for the Release Review? Or only for additional implementations after the compatible implementation submitted for the Release Review? Because some of this information is already included in the spec release information. If required, we can add missing information.

[2020-11-09 13:21] radcortez commented on #4
BTW, what do you think is missing so we can proceed with an actual MP Config 2.0 release?

[2020-11-09 16:46] Emily-Jiang commented on #4
I think in order to release a spec, we need at least one compatible implementation. We will need to craft a web page to store the compatible implementation lists in the individual spec repo after the release.

[2020-11-09 16:49] Emily-Jiang commented on #4
@radcortez can you perform a release so that the links to the pdf/html/javadoc are workable for tomorrow's meeting? We can always do further changes based on the meeting.

[2020-11-09 16:56] Emily-Jiang commented on #4
I think we will run through the list and confirm on tomorrow's call to see whether this is the checklist we should use for all specs and then allow specs to release their final RCx, followed by final release.

[2020-11-09 22:58] Emily-Jiang commented on #4
@kwsutter @radcortez I have tidied up this issue to refer to the latest MP Config 2.0-RC10 and all links are good. We can run through this issue on our Live hangout this week.

[2020-11-10 10:36] radcortez commented on #4
RC-10: https://oss.sonatype.org/content/repositories/orgeclipsemicroprofile-1358/
Specs: https://oss.sonatype.org/content/repositories/orgeclipsemicroprofile-1358/org/eclipse/microprofile/config/microprofile-config-spec/2.0-RC10/

[2020-11-10 14:12] kwsutter commented on #4
This is looking very good!  I found a couple of items that will need to be addressed (but not before our meeting today)...

- The javadoc does not have a reference to the EFSL.  The normal convention is to have this available in this location: `doc-files/speclicense.html`.
- The Eclipse download item says that this isn't used anywhere...  But, don't we use this for the github release page?  That's

[2020-11-10 16:16] radcortez commented on #4
We can add this.

Sorry, what we meant here is that the link is available, but not published, in the sense that you can only access it if you know the direct link, since it is not reference in anywhere at this point. The GH Release page will only reference it after the approval.

Yes. This was to dry run as it was a final release, but we didn't complete these steps for the reason you point out :)

[2020-11-10 17:56] Emily-Jiang commented on #4
The Eclipse download item says that this isn't used anywhere... But, don't we use this for the github release page? That's what I would recommend.

Sorry, what we meant here is that the link is available, but not published, in the sense that you can only access it if you know the direct link, since it is not reference in anywhere at this point. The GH Release page will only reference it after the

[2020-11-10 22:40] kwsutter commented on #4
@Emily-Jiang and @radcortez, We need to get the EFSL licenses figured out before we can go forward with this ballot.  The Specs need to have the EFSL in the generated docs (both pdf and html) and the Javadoc needs to have a link available in the footer.  Here's an example (look at spec pdf, html, and javadoc links):
https://deploy-preview-252--jakartaee-specifications.netlify.app/specifications/pl

[2020-11-10 22:57] kwsutter commented on #4
Here are some additional items that we check for with Jakarta EE...  I've deleted many of the items from our checklist that are specific to Jakarta EE.  These are the remaining items...  For reviewing purposes, where should we put this type of checklist?

Still not clear on how thorough we're going to be with the TCK...  As far as User Guides, etc.  But, we do need the EFTL license, I suppose...

[2020-11-11 00:35] radcortez commented on #4
Ok, I'll have a look into this tomorrow.

Usually the TCK module as a README or some other documentation file with the instructions. For instance: https://github.com/eclipse/microprofile-config/blob/92e5af2e7c0c4bc9c066470a16ee9002c3cd46ca/tck/running_the_tck.asciidoc. Is this enough? Should this be generated in some sort of pdf / html and added to the TCK dist binary?

[2020-11-11 11:18] Emily-Jiang commented on #4
The Config pdf and html has the following copyright already in the body

_Specification: Configuration for MicroProfileVersion: 2.0-RC9Status: DraftRelease: November 04, 2020Copyright (c) 2016-2018 Contributors to the Eclipse FoundationLicensed under the Apache License, Version 2.0 (the "License");you may not use this file except in compliance with the License.You may obtain a copy of the License

[2020-11-11 13:38] radcortez commented on #4
What we have is the Apache License. This raises another question. Do we need to change the license and move to EF based licenses?

This is just the copyright. There is no link for any license, either EF or Apache.

I think we need to clear this License question. @kwsutter can you help?

[2020-11-11 14:55] Emily-Jiang commented on #4
@radcortez btw, we don't need to change the license from Apache v2 to EF, which was set when MicroProfile moved to EF. As for the javadoc, as I mentioned in the previous notes, the license used is also Apache V2, which are listed in the source files. I think one question is whether we can add a link to the footer. @kwsutter?

[2020-11-11 16:00] kwsutter commented on #4
@radcortez and @Emily-Jiang
The license for the specification **source** is Apache v2.  That's fine and should be left that way.  But, the **generated** Specification has to be EFSL licensed.  The Apache v2 license is not sufficient for the generated Specification (pdf and html).  So, this has to be updated before we are ready.

Similar comment for the Javadoc.  The Java source code is Apache v2 l

[2020-11-11 16:41] radcortez commented on #4
@kwsutter Thanks. One more thing: Should the spec keep the ASF license or the EFSL will replace it?

[2020-11-11 16:47] aeiras commented on #4
It ought to keep both Licences. 🥋

[2020-11-11 17:19] Emily-Jiang opened #6 "MicroProfile Fault Tolerance 3.0 Specification Review"
**Specification issue template**

When creating a specification project release review, create an issue in the [MicroProfile-WG repository](https://github.com/microprofile/microprofile-wg) repo with the content defined as follows.
- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-

[2020-11-11 17:28] kwsutter commented on #4
Actually, that is not the case.  The source keeps the Apache v2 or EPL or whatever license is used for developing the spec.  But, the generated Spec should only only contain the EFSL.  As an example, most all of the Jakarta EE specs source are EPL.  But, the EPL is replaced with the EFSL when generating the PDF or HTML versions of the final specs and javadoc.

[2020-11-11 17:42] Emily-Jiang commented on #4
Thank you @kwsutter for the clarification! I took a look at the Jakarta spec [ascii doc](https://raw.githubusercontent.com/eclipse-ee4j/jms-api/master/spec/src/main/asciidoc/messaging-spec.adoc) for JMS and got an idea to how to proceed. We need to update the spec docs to add the EFSL. Let me open an issue in MP Config to fix the javadoc and generated specs.

[2020-11-11 18:10] aeiras commented on #4
Kevin,

Please copy/paste your explanation. It is actually correct about the PDF. Only EF is authorized to distribute the code when generating the spec.  really easy to miss that formality. thank you!

[2020-11-11 18:10] aeiras commented on #4
I mean, document it within the process. :)

[2020-11-12 17:43] kwsutter commented on #4
I was talking to @Emily-Jiang about this yesterday... We need an "operations guide" for the MicroProfile specification process.  We have [one for Jakarta EE](https://jakarta.ee/committees/specification/operations/), but our MP operations will be slightly different and, thus, we should have a separate "ops guide".  Would you like to start one?  I just don't have the cycles to do that at this time.

[2020-11-12 19:53] aeiras commented on #4
@kwsutter Kevin,

I am happy to own the task if Emily cannot own it **but only after** I am done completing the final drafts for the MPWG:

- Budget (wiki and everything included)

- MPWG website page

- Members onboarding wiki

- Q&A for all MPWG lessons learned <> go hand to hand with documentation with includes Operation on it own wiki! :)

[2020-11-12 19:55] aeiras commented on #4
I know about cycles... :) fun yet we must conserve key-strokes to not overcommit & be "flickers".

As usual, I love the candidness of our exchanges Kevin! :) cheers

[2020-11-16 15:42] Emily-Jiang commented on #4
@kwsutter MP Config 2.0-RC15 should have addressed all of the comments in this issue. Can you take a further look at the issue description, which I have updated accordingly to see whether more updates are needed?

[2020-11-18 17:41] Emily-Jiang opened #9 "MicroProfile Config 2.0 Specification Review"
**Specification issue template**

When creating a specification project release review, create an issue in the [MicroProfile-WG repository](https://github.com/microprofile/microprofile-wg) repo with the content defined as follows.
- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-

[2020-11-18 18:50] radcortez commented on #9
+1

[2020-11-19 15:26] radcortez commented on #9
/cc @jclingan @ederks85 @emecas

[2020-11-19 17:53] Emily-Jiang opened #11 "MicroProfile Specification Review further feedback on the template"
**Specification issue template**

Log any comments on the Spec release process and templates

[2020-11-19 22:59] Emily-Jiang commented on #9
Received +1 from PMC

Gunnar Wagenknecht gunnar@wagenknecht.org via eclipse.org | Gunnar Wagenknecht gunnar@wagenknecht.org via eclipse.org | Wed, Nov 18, 7:00 PM (1 day ago)
+1
Gunnar Wagenknecht gunnar@wagenknecht.org via eclipse.org

[2020-11-19 23:00] Emily-Jiang commented on #9
https://bugs.eclipse.org/bugs/show_bug.cgi?id=568938

[2020-11-20 00:22] aeiras commented on #11
@Emily-Jiang,

Let's add

- the email draft [[Voting email](https://docs.google.com/document/d/1ivzeL4mdqZPwyQR6e5GtCv81F_ZfLOpsg8FaZUoDDuc/edit)]  on the last step to help that MicroProfile use the template as well.

- can you also create a short draft to be used by those who will send an email to the EMO?  You can use MPWG folder [voting](https://drive.google.com/drive/u/0/folders/1xnd4qPATbS_Pt

[2020-11-20 00:24] aeiras commented on #11
Also, let's drop the Specification committee mentions and just use the Steering committee for everything.
Kevin and I via the email draft had a nice exchange on this, it makes no sense to even mention the spec committee. We combined all committees to be 1, steering. Let's own that!

Thank you for the push on this!

[2020-11-20 11:13] radcortez commented on #9
Can you add the link into the description, so it gets more visibility?

[2020-11-20 13:28] kwsutter commented on #4
Let's close this Issue out to avoid confusion with the "real" Config 2.0 Spec Release issue.

[2020-11-20 13:40] kwsutter commented on #9
+1
I have reviewed the materials for this Config 2.0 release and all looks good.  I will initiate the ballot review shortly.

[2020-11-20 14:28] radcortez commented on #4
I don't have permissions to do it.

This is something else we need to discuss. Because this repo is on another GH org, MP member, don't have the same permissions / visibilities they have on the EF repos.

[2020-11-20 14:32] #4 closed

[2020-11-20 14:33] Emily-Jiang commented on #4
closed.

[2020-11-20 18:29] Emily-Jiang commented on #11
@aeiras I don't think the emailing to EMO and PMC needs to bear the name of MP Steering committee as the person who sent the emails are not necessarily in the committee. The other thing is that this is purely from a spec point of view, not even spec committee. It is a group of people.

[2020-11-20 18:30] Emily-Jiang commented on #11
I am going to repurpose this issue for further discussion on the process and open an issue just tracking the release process for MP Metrics 3.0.

[2020-11-20 18:31] Emily-Jiang opened #13 "MicroProfile Metrics 3.0 Specification Review"
**Specification issue template**

When creating a specification project release review, create an issue in the [MicroProfile-WG repository](https://github.com/microprofile/microprofile-wg) repo with the content defined as follows.
- [ ] Specification name and version
- [ ] Add the label `Release Review`
- [ ] Naming conventions for artifacts:
   - [ ] Specification PDF in the form of microprofile-

[2020-11-20 18:45] Emily-Jiang commented on #13
Close this one and create a new one using the new template.

[2020-11-20 18:45] #13 closed

[2020-11-20 18:48] xstefank opened #14 "MicroProfile Health 3.0 Specification Review"
**Specification issue template**

- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-_project_-spec-_version_.pdf
   - [x] Specification HTML in the form of microprofile-_project_-spec-_version_.html
   - _project_ is the microprofile specification short project name (config, healt

[2020-11-20 19:14] jclingan commented on #9
+1

[2020-11-20 19:24] aeiras commented on #11
that makes sense Emily. I didn't know that part. good to learn that :) Thanks!

[2020-11-20 21:38] donbourne opened #15 "MicroProfile Metrics 3.0 Specification Review"
**Specification issue template**

When creating a specification project release review, create an issue in the [MicroProfile-WG repository](https://github.com/microprofile/microprofile-wg) repo with the content defined as follows.
- [x] Specification name and version: MicroProfile Metrics V3.0
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF i

[2020-11-20 21:50] aeiras commented on #15
hola Don,  @donbourne,

we forgot to include the final step, the Result Ballot notification after the initiated ballot is sent.
can you you add the step to Metrics?  https://docs.google.com/document/d/1wISp-yRzQZNOHULNekxxg1U18be3v-3CRUswklcpmr8/edit

:) thank YOU! the general template needs to be adjusted as well. :)

[2020-11-20 21:52] aeiras commented on #14
Hola Martin,

We forgot to include the final step, the Result Ballot notification after the initiated ballot is sent.
can you add the step to Metrics? https://docs.google.com/document/d/1wISp-yRzQZNOHULNekxxg1U18be3v-3CRUswklcpmr8/edit

Thank YOU! the general template needs to be adjusted as well. :)

[2020-11-20 21:52] aeiras commented on #14
Hola Martin, @xstefank

We forgot to include the final step, the Result Ballot notification after the initiated ballot is sent.
can you add the step to Metrics? https://docs.google.com/document/d/1wISp-yRzQZNOHULNekxxg1U18be3v-3CRUswklcpmr8/edit

Thank YOU! the general template needs to be adjusted as well. :)

[2020-11-20 21:54] aeiras commented on #9
We forgot to include the final step, the Result Ballot notification after the initiated ballot is sent.
can you add the step to Metrics? https://docs.google.com/document/d/1wISp-yRzQZNOHULNekxxg1U18be3v-3CRUswklcpmr8/edit

Thank YOU! the general template needs to be adjusted as well. :)

[2020-11-20 22:05] Emily-Jiang commented on #11
@aeiras can you add your feedback on the process or template on this issue instead of putting your thoughts on the release review issue?

[2020-11-20 22:08] Emily-Jiang commented on #11
In order not to confuse votes, can you move your comments https://github.com/microprofile/microprofile-wg/issues/9#issuecomment-731426805 in this issue?

[2020-11-20 22:50] aeiras commented on #11
Sure Emily, here it goes:

We forgot to include the final step, the Result Ballot notification after the initiated ballot is sent.
 https://docs.google.com/document/d/1wISp-yRzQZNOHULNekxxg1U18be3v-3CRUswklcpmr8/edit

I am running short of time, given that I am off next-week. I don't want to touch the template in case my rushing causes mistakes. Thanks for the help Emily.

[2020-11-20 23:00] Emily-Jiang commented on #11
Thanks @aeiras ! I have got a [PR](https://github.com/microprofile/microprofile-wg/pull/16) already to address your comment. Would you like to review it? Enjoy your vacation!

[2020-11-20 23:00] donbourne commented on #15
hey Amelia @aeiras , I've added that to the end per your comment.

[2020-11-20 23:31] aeiras commented on #15
Amazing Don, thank you!

[2020-11-21 08:30] xstefank commented on #14
PMC approval - https://www.eclipse.org/lists/technology-pmc/msg12125.html

[2020-11-23 14:48] Emily-Jiang commented on #14
+1! I reviewed all the links and they look good!

[2020-11-23 17:53] jclingan commented on #1
Should this be closed now that we have the release checklist defined?

[2020-11-23 23:13] #1 closed

[2020-11-24 13:16] radcortez commented on #14
+1 Everything seems ok.

[2020-11-24 19:30] TetianaFTV commented on #9
+1 for Jelastic

[2020-11-24 19:30] TetianaFTV commented on #14
+1 for Jelastic

[2020-12-01 15:19] radcortez commented on #15
+1

[2020-12-01 19:47] Emily-Jiang opened #17 "MicroProfile Open Tracing 2.0 Specification Review"
**Specification issue template**

When creating a specification project release review, create an issue in the [MicroProfile-WG repository](https://github.com/microprofile/microprofile-wg) repo with the content defined as follows.
- [ ] Specification name and version
- [ ] Add the label `Release Review`
- [ ] Naming conventions for artifacts:
   - [ ] Specification PDF in the form of microprofile-

[2020-12-01 20:59] andymc12 opened #18 "MicroProfile Rest Client 2.0 Specification Review"
**Specification issue template**

When creating a specification project release review, create an issue in the [MicroProfile-WG repository](https://github.com/microprofile/microprofile-wg) repo with the content defined as follows.
- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-

[2020-12-02 13:47] kwsutter commented on #15
@donbourne I just commented on the CCR that the CI used for the testing needs to be a "permanent" artifact and not just a nightly driver that would be difficult to reproduce in the future.

[2020-12-02 14:06] kwsutter commented on #14
@xstefank Same comment I made on the Metrics Issue #15...  We need the Compatible Implementation to be "permanent" and reproducible.  Just pointing at the Metrics code repo is not sufficient.  The idea is to have a binary that can be referenced for a long time in case there are ever any questions about whether this Spec, API, CI, and TCK were properly executed and tested.

[2020-12-02 14:10] kwsutter commented on #9
Making a similar comment that I did on the Metrics #15 and Health #14 Issues...  We need the Compatible Implementation that is used to verify the CCR to be more "permanent".  There is a reference to SmallRye Config 2.0.  Is this available in Maven or some permanent download location?  A link would be good, if that's the case.  Otherwise, we should create the SmallRye Config 2.0 artifact, store it,

[2020-12-02 15:11] radcortez commented on #14
Hey @kwsutter. It is available as a commit in the repo:
https://github.com/smallrye/smallrye-config/commit/679c438dd7e3902e7be36133a08add0ac46e5494

The issue here is somehow the same you have with dependent specs. We can't really do a release of the implementation without having the API publicly available. Once the API is out, we cut a release from the same codebase but without the staging repo r

[2020-12-02 15:45] radcortez commented on #9
Hey @kwsutter. It is available as a commit in the repo:
https://github.com/smallrye/smallrye-config/commit/679c438dd7e3902e7be36133a08add0ac46e5494

The issue here is somehow the same you have with dependent specs. We can't really do a release of the implementation without having the API publicly available. Once the API is out, we cut a release from the same codebase but without the staging repo r

[2020-12-03 01:47] donbourne commented on #15
@kwsutter , we intended for the nightly driver to be stored as a permanent artifact, but messed that up and the driver was deleted.  We've rerun the TCK on a newer driver which we're copying for permanent storage and will update the CCR with that URL once it's in place.

[2020-12-03 13:44] kwsutter commented on #9
@radcortez, the commit tag is not sufficient.  This would still require someone to download the exact code and build it in the exact same way in order to produce the binary.  As time goes on, these processes will get muddled and the building will become more difficult.

Any Compatible Implementation needs to have a long life.  It could be a Milestone driver, or a Release Candidate driver, or even

[2020-12-04 09:40] xstefank commented on #14
Hi @kwsutter, I've released smallrye-health 3.0.0-RC1 - https://github.com/eclipse/microprofile-health/issues/279. Would it be ok like this?

[2020-12-04 10:04] Emily-Jiang commented on #14
Since Kevin is off in the next 4 days, I've checked the build and tck result. I can confirm the build that uses the staged Health 3.0 api was released and all tcks passed. It is ok to proceed with the release. Thank you @xstefank for addressing the issue!

[2020-12-04 12:53] xstefank commented on #14
Thanks @Emily-Jiang. I am going to release MP Health 3.0 now! :)

[2020-12-04 15:02] radcortez commented on #9
Ok, updated the CCR with a RC release available in Central.

[2020-12-04 16:04] Emily-Jiang commented on #9
I double checked the released and confirmed the release used the staged Config 2.0 api (see [here](smallrye/smallrye-config@231db8e)) and passed the TCK.

[2020-12-04 17:19] sberyozkin opened #19 "MicroProfile JWT RBAC 1.2 Specification Review"
**Specification issue template**

When creating a specification project release review, create an issue in the [MicroProfile-WG repository](https://github.com/microprofile/microprofile-wg) repo with the content defined as follows.
- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-

[2020-12-04 18:12] #14 closed

[2020-12-04 18:21] radcortez commented on #9
This is not on Maven Central: https://repo1.maven.org/maven2/org/eclipse/microprofile/config/microprofile-config-api/2.0/

[2020-12-04 18:21] #9 closed

[2020-12-04 18:26] donbourne commented on #15
@kwsutter , the problem with the CCR pointing to a non-permanent driver has been resolved.  It now points to a downloadable driver that should be there "permanently".

[2020-12-07 09:55] phillip-kruger opened #20 "MicroProfile OpenAPI 2.0 Specification Review"
**Specification issue template**

- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-_project_-spec-_version_.pdf
   - [x] Specification HTML in the form of microprofile-_project_-spec-_version_.html
   - _project_ is the microprofile specification short project name (config, healt

[2020-12-07 11:18] radcortez commented on #19
+1

[2020-12-07 11:32] Emily-Jiang commented on #19
+1

[2020-12-07 21:53] aeiras commented on #11
Hola Emily,

the template link needs to be added to the new MPWG page under MPSP section
What is missing to provide us with the final link? Thanks for the reply! : )

I have no further input on what currently is. I expect the #ossDOERs to provide ongoing feedback as they do!

[2020-12-07 21:55] Emily-Jiang commented on #11
Which issue should I add the links under?

[2020-12-07 22:00] aeiras commented on #11
https://docs.google.com/document/d/1Th7O12AspPUWvudPVSTIZnUXXtyGVxDw-YOzUQyQMIY/edit

added you via comments in the document. Thanks Emily!

[2020-12-07 22:23] Emily-Jiang commented on #11
ok, added! Thanks @aeiras !

[2020-12-09 18:45] #17 closed

[2020-12-09 18:46] Emily-Jiang commented on #17
Will use a different issue for Open API so that the release owner can edit it directly.

[2020-12-10 07:54] xstefank opened #21 "MicroProfile Open Tracing 2.0 Specification Review"
**Specification issue template**

When creating a specification project release review, create an issue in the [MicroProfile-WG repository](https://github.com/microprofile/microprofile-wg) repo with the content defined as follows.
- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-

[2020-12-10 16:34] donbourne commented on #15
MP Metrics 3.0 has been released

[2020-12-10 16:34] #15 closed

[2020-12-10 16:56] Emily-Jiang commented on #6
@aeiras will you be able to intitiate the ballot by sending an email to microprofile-wg detailed in this issue?

[2020-12-10 16:56] #11 closed

[2020-12-10 18:53] radcortez commented on #6
+1

[2020-12-10 20:39] emecas commented on #19
+1

Thanks everybody contributing to this specification!!!!

Note: I have added a PR eclipse/microprofile-jwt-auth#229 directly on the microprofile-jwt-auth spec's repo, fixing some minor typos i found during my review

[2020-12-10 21:21] kwsutter commented on #19
Thanks!  Just be aware that this PR would have to be processed *after* this release is complete.  So, the changes would go into the next rev of the JWT spec -- 1.3 or 2.0.

[2020-12-10 21:29] dblevins commented on #6
Vote started!  Note we should only put "ballot" on the issue once it's up for vote.  I added a new label "ready for ballot" to indicate that action by the mentor is needed.

[2020-12-10 21:32] aeiras commented on #6
we can do it!!!

[2020-12-13 16:57] juneau001 commented on #19
+1 (CJUG Community Vote)

[2020-12-14 20:59] acoburn commented on #19
+1 (Community Vote)

[2020-12-15 20:19] emecas commented on #6
+1

[2020-12-16 22:11] kwsutter commented on #21
The link for the staged apidocs is not working correctly:  https://download.eclipse.org/microprofile/staging/microprofile-opentracing-2.0/apidocs/

It partially works where I get the three classes identified on the left hand side.  But, the main page has displays a "Not Found" error page.  I have verified that the javadoc jar seems to work just fine.  It's just this staged directory that is not di

[2020-12-16 22:37] kwsutter commented on #20
The apidocs directory is not displaying the javadoc correctly:  https://download.eclipse.org/microprofile/staging/microprofile-open-api-2.0/apidocs/.  But, your javadoc jar file looks good, so this won't affect my vote.

I also added a couple of comments to the [CCR](https://github.com/eclipse/microprofile-open-api/issues/459).  Nothing major, but should be cleaned up before going final.  Thanks!

[2020-12-16 22:55] kwsutter commented on #6
The Component Release Record should be pointing at https://projects.eclipse.org/projects/technology.microprofile/reviews/fault-tolerance-3.0-release-review

The staged apidocs directory (https://download.eclipse.org/microprofile/staging/microprofile-fault-tolerance-3.0/apidocs/) is malformed.  The javadoc jar looks fine, so this is a nit.  But, it should get cleaned up.

And, a couple of comments

[2020-12-17 10:24] xstefank commented on #21
It works for me. No Not Founds. Not sure what can be the problem.

CCR was updated according to the requierements.

[2020-12-17 11:21] radcortez commented on #20
I had no issue navigating the javadocs. Maybe a hiccup in the server?

[2020-12-17 11:25] radcortez commented on #6
Updated.

[2020-12-17 15:03] kwsutter commented on #18
This all looks good.  Just a couple of nits in the CCR.  Thanks!

[2020-12-17 15:14] kwsutter commented on #6
Thanks, @radcortez.  The staged apidocs is still malformed, but the other items were updated, including the CCR.  Thanks!

[2020-12-17 15:16] kwsutter commented on #20
Maybe it's a Firefox issue?  I just tried it with Chrome and everything looks just fine...  Thanks for verifying, @radcortez!

[2020-12-17 15:20] kwsutter commented on #21
Yeah.  Thanks, @xstefank.  As @radcortez pointed out, it might be a Firefox issue...  Works fine on Chrome.  Sorry for the fire drill, but thanks for checking it out.

Thanks!

[2020-12-17 17:08] Emily-Jiang commented on #6
@kwsutter the apidocs link works fine for me. Which browser are you using?

[2020-12-17 21:06] kwsutter commented on #6
Yeah, @radcortez and I figured out it must be something with Firefox.  When I tried Chrome, everything was just fine.  But, my Firefox doesn't present the javadoc correctly...  Not a big deal.

[2020-12-18 12:45] Emily-Jiang commented on #6
@dblevins I think we can close the ballot now as all 5 memembers cast their votes and 7 days have elapsed. Will you be able to do the final announcement? Thanks!

[2020-12-18 14:01] Emily-Jiang commented on #21
@dblevins @aeiras please cast your vote via the microprofile-wg! You can find the thread [here](https://groups.google.com/g/microprofile/c/w5ykU-Y7P4w).

[2020-12-21 09:38] #6 closed

[2020-12-21 20:51] #19 closed

[2020-12-21 22:22] #21 closed

[2020-12-21 22:22] #20 closed

[2020-12-21 22:23] #18 closed

[2021-01-08 20:52] waynebeaton opened #22 "Include the MicroProfile Specification Process on the website"
AFAICT, the MicroProfile Specification Process is currently only published on the [working group's web site](https://microprofile.io/workinggroup/) as a link to the Google Doc.

This should be replaced with either a link to the document here, or to a page on the website generated from the ./mpsp.adoc source.

[2021-01-08 21:02] aeiras commented on #22
Hola Wayne,

The plan is to update the Projects <https://microprofile.io/projects/> page
on the website. Work has started on the how via another thread in Q4 2020.

While navigating MP 4.0 release, we created templates for most things based
on actions. We will implement the updates with care in Q1.
Thanks,

Amelia Eiras
twitter.com/ameliaeiras
Tribe: http://tomitribe.com      https://tribestream.i

[2021-02-08 09:44] xstefank opened #23 "MP LRA 1.0 Specification Review"
**Specification issue template**

- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-_project_-spec-_version_.pdf
   - [x] Specification HTML in the form of microprofile-_project_-spec-_version_.html
   - _project_ is the microprofile specification short project name (config, healt

[2021-02-09 15:20] njr-11 opened #24 "MicroProfile Context Propagation 1.2 Specification Review"
**Specification issue template**

When creating a specification project release review, create an issue in the [MicroProfile-WG repository](https://github.com/microprofile/microprofile-wg) repo with the content defined as follows.
- [x] Specification name and version
  MicroProfile Context Propagation 1.2
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specifi

[2021-03-06 09:07] phillip-kruger opened #25 "MicroProfile GraphQL 1.1 Specification Review"
**Specification issue template**

When creating a specification project release review, create an issue in the [MicroProfile-WG repository](https://github.com/microprofile/microprofile-wg) repo with the content defined as follows.
- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-

[2021-03-06 13:43] phillip-kruger opened #26 "MicroProfile OpenAPI 1.2 Specification Review"
**Specification issue template**

When creating a specification project release review, create an issue in the [MicroProfile-WG repository](https://github.com/microprofile/microprofile-wg) repo with the content defined as follows.
- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-

[2021-03-11 17:52] kwsutter commented on #24
Closing on behalf of @Emily-Jiang and @njr-11.

[2021-03-11 17:52] #24 closed

[2021-03-15 10:29] Emily-Jiang opened #27 "MicroProfile Reactive Streams Operators 2.0 Specification Review"
**Specification issue template**

When creating a specification project release review, create an issue in the [MicroProfile-WG repository](https://github.com/microprofile/microprofile-wg) repo with the content defined as follows.
- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-

[2021-03-18 01:00] radcortez commented on #25
We are missing the EMO issue.

[2021-03-18 11:28] phillip-kruger commented on #25
I added it

[2021-03-18 11:38] radcortez commented on #25
Thanks!

[2021-03-19 19:54] Emily-Jiang opened #28 "MicroProfile Reactive Messaging 2.0 Specification Review"
When creating a specification project release review, create an issue in the [MicroProfile-WG repository](https://github.com/microprofile/microprofile-wg) repo with the content defined as follows.
- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-_project_-spec-_version_.pdf
   -

[2021-03-24 11:33] Emily-Jiang opened #29 "[Technical Goal 1]: MicroProfile Open Tracing"
Tracing
* Deprecate abandoned APIs by reworking the current MicroProfile OpenTracing
* Adopt OpenTelemetry (merge between OpenTracing and OpenCensus)"

[2021-03-24 11:34] Emily-Jiang opened #30 "[Technical Goal 2]: Metrics"
**Metrics**
* Rework MicroProfile Metrics or create new spec to adopt new efforts around Monitoring (Micrometer)

[2021-03-24 11:35] Emily-Jiang opened #31 "[Technical Goal 3]: New Spec Converter"
Converters
* New specification to be evaluated
* Other specifications are duplicating this effort.

[2021-03-24 11:37] Emily-Jiang opened #32 "[Technical Goal 4]: MicroProfile and Jakarta EE alignment"
MicroProfile and Jakarta EE alignment efforts from CN4J alliance
* Move, Fork, LTS, push vs pull, etc
* Rebase on Jakarta EE 9 and subsequent releases

[2021-03-24 11:37] Emily-Jiang opened #33 "[Technical Goal 5]: new Spec gRPC"
gRPC
* New specification to be evaluated

[2021-03-24 11:38] Emily-Jiang opened #34 "[Technical Goal 6]: Adoption of existing Jakarta EE specs"
Adoption of existing Jakarta EE specs
* Add Jakarta Annotation to the platform spec as it was pulled in as transitive dependency
* Investigate the need for (core) specs in MicroProfile
* To be considered: Bean Validation inclusion in existing MicroProfile specifications
    * This might be just additional spec clarification and TCKs on various specs such as Open APIs or JWT to ensure they work wel

[2021-03-24 11:39] Emily-Jiang opened #35 "[Technical Goal 8]: Improve user experience"
Runtimes (JVM, MicroProfile Impl), Java 8/11/17
Containers, Orchestrators, Clouds etc

[2021-03-24 11:40] Emily-Jiang opened #36 "[Technical Goal 8]: Improve end-user experience"
Database
* New spec to investigate how to handle database access well in the microservice world
* Or adopt JPA and work with Jakarta to ensure working well in the microservice world

[2021-03-24 11:41] Emily-Jiang opened #37 "[Technical Goal 9]: Release MicroProfile LRA 1.0"
Release MicroProfile LRA 1.0

[2021-03-24 16:16] aeiras opened #38 "[Trademark] Compatible Logo"
From the MP markting repo[ issue ](https://github.com/eclipse/microprofile-marketing/issues/268)

[Drive](https://drive.google.com/drive/u/0/folders/1kawjoICH8vuNILCSlPGb_6Sd9oSMTQke)

[2021-03-24 16:23] aeiras opened #39 "MicroProfile Member Logo"
from [[MPWG- design task] MicroProfile Member Banner #269](https://github.com/eclipse/microprofile-marketing/issues/269)

[Drive](https://drive.google.com/drive/u/0/folders/1bWw-Ytwht4xCzmr618FOAYYwKkjGHEvZ)

[2021-03-24 16:30] aeiras opened #40 "Dev-focused website phase 2: Create new template for each MP component"
from [mktg issue](https://github.com/eclipse/microprofile-marketing/issues/286)

[2021-03-24 16:34] aeiras opened #41 "Dev-focused website phase 3: Socialize template from phase 2 and allow components to start updating to the new template format"
from [git issue](https://github.com/eclipse/microprofile-marketing/issues/287)

[2021-03-24 16:39] aeiras opened #42 "Marketing Plan & Budget"
from [git issue](https://github.com/eclipse/microprofile-marketing/issues/304)

[Drive](https://drive.google.com/drive/u/0/folders/1do4bZlfCcXqcPvhs3PquglX74eFUK-Ic)

[2021-03-24 16:42] aeiras opened #43 "MPWG Questions & Answers Wiki"
https://github.com/eclipse/microprofile-marketing/issues/313

[2021-03-24 16:54] aeiras opened #44 "2021 MicroProfile Program Plan Slide Deck - Spanish Version"
from [[MP Product Plan] 2021 MicroProfile Program Plan Slide Deck - Spanish Version #399](https://github.com/eclipse/microprofile-marketing/issues/399)

FYI @emecas! :)

[2021-03-24 16:56] aeiras opened #45 "[Trademarks] MicroProfile Brand HandBook"
https://github.com/eclipse/microprofile-marketing/issues/404

[Drive](https://docs.google.com/document/d/1v7Chteluh4KrzLjFTCPLwvGccUpeKpcnQYzPiEjJQBU/edit)

[2021-03-24 17:01] aeiras opened #46 "CN4J Alliance Joined Message Draft - Review and Vote Due date April 12th"
from https://github.com/eclipse/microprofile-marketing/issues/450

[2021-03-24 17:04] aeiras opened #47 "[MP Product Plan] 2021 MicroProfile Program Plan Slide Deck - Russian Version"
https://github.com/eclipse/microprofile-marketing/issues/453

Fyi @mehmandarov :)

[2021-03-24 17:04] Emily-Jiang opened #48 "[Specification Process 1]: MicroProfile Platform release"
Reach a decision on status of MicroProfile platform
* Specification with TCK and compatible implementation
* Marketing-only document

[2021-03-24 17:05] Emily-Jiang opened #49 "[Specification Process 2]: document requirement for CCR"
Solidify and document requirements for certification requests

[2021-03-24 17:05] Emily-Jiang opened #50 "[Specification Process 3]: CCR for ballot"
Address compatible implementation plan for ballots

[2021-03-24 17:06] aeiras opened #51 "[informal- Media design template] MicroProfile Compatible Implementation Announcement Card Notification"
https://github.com/eclipse/microprofile-marketing/issues/455

Fyi @rstjames

[2021-03-24 17:08] Emily-Jiang commented on #51
@aeiras remember to use the corresponding labels that @dblevins created.

[2021-03-24 17:09] mehmandarov commented on #47
Thanks, @aeiras. :) Feel free to assign this one to me and Mitia. I will have a look at it, but not before the next week.

[2021-03-24 19:03] aeiras commented on #47
I don't have Mitia's git. :) Thats why, he should have open this ticket. lets send this ticket to the mktg forum and update him on it. You have nothing else to do but to enable Metia to own the ticket. :)

[2021-03-24 19:08] aeiras commented on #51
Hola Emily,
David needs to create the labels, he volunteered:)

I created Projects to complement the tickets. Hugs

[2021-03-24 21:47] aeiras opened #52 "CN4J Venn Diagrams for the Messaging Presentation- gslides"
With reference to https://github.com/microprofile/microprofile-wg/issues/46, during the 3/23 CN4J call, with @rstjames, we agreed to work on Venn diagrams as part of improvements in the [google messaging presentation.](https://drive.google.com/drive/u/0/folders/1nQE4p-OyOJdqQhN121TXBXqrFKjl6jYZ)

[2021-03-24 22:42] aeiras opened #53 "[MPWG Page] Add MPWG Repo link under Knowledge Section"
**Description:**

[MPWG Repository](https://github.com/microprofile/microprofile-wg/issues) is used for all activities including the MPWG releases, the execution of the Yearly Project Plan & more.

[2021-03-24 22:59] aeiras opened #54 "[MPWG Page] Update Budget Tab"
1. **Change from Budget to**

Program Plan & Budget

2.    [Program Plan & Budget](https://drive.google.com/drive/folders/1zi1MIEqv-I87NielCdLn6cCEfhwLRIGK ) provides the current and archives of the MPWG Program Plans and Budgets. The Project yearly plan is drafted and worked in the open with everyone in the MicroProfile community. The Budget is drafted with the help of the Eclipse Management Orga

[2021-03-24 23:15] aeiras opened #55 "[MPWG Page] Add Social tab"
**location:**

above: Meeting Calendars

**What to add:**

- MicroProfile [Twitter](https://twitter.com/MicroProfileIO) Managed 100% by MicroProfilers. If your MP tweet mentions @MicroProfileIO, it is likely the MicroProfile's Admins might see it.  MP technical content is highly likely re-tweeted.

- MicroProfile Working Group [Slack](https://join.slack.com/t/microprofile-wg/shared_invite/zt-nxbet

[2021-03-24 23:20] aeiras opened #56 "[MPWG Page] Re-Order the Tabs"
1. Release Guideline
2. Legal > **change** to Agreements
3. Program Plan & Budget
4. Email Forums
5. Knowledge
6. Branding
7. Social
8. Meeting Calendar > **delete** the S in calendar.

[2021-03-24 23:26] aeiras opened #57 "[MPWG Page] Branding tab update with description"
Delete _coming soon_ items

 [MicroProfile Branding Resources](https://microprofile.io/resources/branding/) provides the MicroProfile community with access to MP Logos and Members' Logos, Branding Materials, Project Colors and Fonts, Sessions Social Media Cards, Speaker Google Presentation Slides, Access to the MP Community Drive, etc

[2021-03-25 00:11] aeiras opened #58 "[Trademark] Branding & Trademark Guidelines"
Refer to @manish2aug work with a few others via ticket https://github.com/eclipse/microprofile-marketing/issues/431

Final draft awaits Compatibility discussion.

[2021-03-25 00:16] aeiras opened #59 "[Trademarks & Specifications] Website Specification Page"
Approach for listing compatible implementations of the specifications

each project will have its own page. Work has been done in the past and has been reviewed in the Marketing committee on such tasks. @Emily-Jiang has been a wonderful contributor in creating a template that could be used as the start point.

[2021-03-25 00:18] aeiras opened #60 "[Trademarks & Specifications]Compatible Products Page"
Approach for listing compatible implementations of the specifications

1 page

[2021-03-25 00:19] aeiras opened #61 "[Trademarks & Specifications] Self Declared Compatibility"
needs discuss

[2021-03-25 11:07] rstjames commented on #51
new visual.
![microprofile-compatible_implementation](https://user-images.githubusercontent.com/12132146/112463474-96212c80-8d62-11eb-9b59-12535d919f13.png)

[2021-03-25 19:05] aeiras commented on #51
@rstjames,
Design looks great with the code.
MicroProfile TM needs to convert to R.
1 last try.

Thank you,

[2021-03-26 16:17] rstjames commented on #51
![microprofile-compatible_implementation](https://user-images.githubusercontent.com/12132146/112661769-29d42500-8e57-11eb-8b51-da32da0dce1b.png)

[2021-03-26 17:39] aeiras commented on #51
Thank you, @rstjames.
Closing ticket.  please drop it into the social media pushes to use later for informal media announcements when an implementation catches to  MP releases.

[2021-03-26 17:39] #51 closed

[2021-03-29 08:26] #55 closed

[2021-03-29 16:52] emecas commented on #44
### Links

**English Version**: https://docs.google.com/presentation/d/1-mu4dIsfAzLlE81splWBKwsGeRLJhzEWrXgsQ_i0JZQ

**Spanish Version**: https://docs.google.com/presentation/d/1-OrSEgEeU39OIxmlXZd1suMQEKJRmjbUzqIO2OyZC2g

### To Do

 - [ ]  Add this water mark to first and last page of the slides: Copyright © 2020, Eclipse Foundation, Inc. | Made available under the Eclipse Public License 2.0 (EP

[2021-03-29 18:44] aeiras commented on #44
Emerson,

I adjusted the year to be 2021. The rest looks wonderful.
Let me know when we can move the document to the External drive as final. PDF.

We need to keep this version under restrictive view in the MP Community Drive as well. :) YOU are amazing!

[2021-03-29 21:32] emecas commented on #44
thanks @aeiras , I added the footer to all pages in order to lok same as the original version, this is ready to be moved

[2021-03-29 22:30] mehmandarov commented on #47
I have now translated the document. Need to find someone to review my translation. Will send out an email.

Original Program Plan document:
https://docs.google.com/presentation/d/1-mu4dIsfAzLlE81splWBKwsGeRLJhzEWrXgsQ_i0JZQ/edit

Russian translation:
https://docs.google.com/presentation/d/1JnbIYsxyNtKcJ3kvkBg9cDpT41b2xy9F5Ag4NmZUvJM/edit

[2021-03-29 22:38] mehmandarov commented on #47
@dalexandrov Can you review? :)

[2021-03-29 23:10] aeiras commented on #44
Emerson,

You made the deadline, just wow!

- The document has been moved as a PDF to MPWG External drive under Program and Budget [folder](https://drive.google.com/drive/folders/11RQe2ONXqqK4YQUfXtvNtMJYq_IfEiji).

- everything in that folder is already linked to the MPWG page in the [website](https://microprofile.io/workinggroup/) you get there by navigating to the final section of the page unde

[2021-03-29 23:16] jclingan opened #62 "Continue "Growing Pains" discussion"
Continue the "[Growing Pains](https://docs.google.com/document/d/1iCKAK4eayhkv6A7x3Gl2XQKwAsIaaEQS08p_JC5NXLo/edit#heading=h.nj23sjpj5u97)" discussion was put on hold during the Working Group creation.

- Consider re-defining platform spec to maintain agility and add compatible implementations
- Review standalone specification concept
  - Keep as-is?
  - Merge into MicroProfile or Jakarta platform

[2021-03-29 23:23] jclingan opened #63 "Streamline release process"
Drive efficiency into the release process. For example, micro-releases should require less process than a minor release.

[2021-03-29 23:25] jclingan commented on #33
This issue also applies to "encourage new innovation" in the "Additional Goals" category of the 2021 Program Plan.

[2021-03-29 23:25] jclingan commented on #31
This issue also applies to "encourage new innovation" in the "Additional Goals" category of the 2021 Program Plan.

[2021-03-29 23:41] jclingan opened #64 "Define "MicroProfile Compatibility""
From the "additional goals" category of the program plan, but ties into other goals as well.

[2021-03-30 12:38] #57 closed

[2021-03-30 12:42] rstjames commented on #53
Updated.

[2021-03-30 12:42] #53 closed

[2021-03-30 14:59] emecas commented on #44
@aeiras  what is the plan? are we going to handle tickets for Twitter here ? or in https://github.com/eclipse/microprofile-marketing ?

[2021-03-30 18:19] dblevins opened #65 "Convert Groovy-based setup to Github pages"
From [2021 MicroProfile Program Plan Community Voices](https://docs.google.com/document/d/1fC3UFXBqrlxDIURJ3ZIUOeGdZELfo1yPOOjyTR5uNkY/edit?usp=sharing)

- Emily Jiang: I would like to see Github pages to be utilized and all of MicroProfile Specifications provide their Github pages and then microprofile.io/projects display Github pages to have an overview on the corresponding specs instead of rend

[2021-03-30 18:19] dblevins opened #66 "Increase specification metadata in website; versions, links to PDFs"
From [2021 MicroProfile Program Plan Community Voices](https://docs.google.com/document/d/1fC3UFXBqrlxDIURJ3ZIUOeGdZELfo1yPOOjyTR5uNkY/edit?usp=sharing)

[2021-03-30 18:20] dblevins opened #67 "Collect external getting started guides, examples, into one dedicated section"
From [2021 MicroProfile Program Plan Community Voices](https://docs.google.com/document/d/1fC3UFXBqrlxDIURJ3ZIUOeGdZELfo1yPOOjyTR5uNkY/edit?usp=sharing)

[2021-03-30 18:22] dblevins opened #68 "Create pages that cater to specific personas"
From [2021 MicroProfile Program Plan Community Voices](https://docs.google.com/document/d/1fC3UFXBqrlxDIURJ3ZIUOeGdZELfo1yPOOjyTR5uNkY/edit?usp=sharing)

New user / getting started
○ Decision maker / why MicroProfile

[2021-03-30 18:23] dblevins opened #69 "Greatly increase technical content available on website as a whole"
Code on pages
○ “See the code” doesn’t link to code

[2021-03-30 18:24] dblevins opened #70 "Create sitemap"
From [2021 MicroProfile Program Plan Community Voices](https://docs.google.com/document/d/1fC3UFXBqrlxDIURJ3ZIUOeGdZELfo1yPOOjyTR5uNkY/edit?usp=sharing)

[2021-03-30 18:26] dblevins opened #71 "Explore alternatives to Jenkins, such as Github Actions"
From [2021 MicroProfile Program Plan Community Voices](https://docs.google.com/document/d/1fC3UFXBqrlxDIURJ3ZIUOeGdZELfo1yPOOjyTR5uNkY/edit?usp=sharing)

[2021-03-30 18:28] xstefank commented on #37
@Emily-Jiang I can take this one as I am actively working now on this release.

[2021-03-31 01:17] aeiras commented on #44
Emerson,

The plan is to use this Repo for anything that has to do with the 2021 program plan. Notice I added a label to this ticket :) you can assign it yourself as well.

Do you want to do the honors to close this ticket?
A new ticket needs to be created with a Spanish tweet that informs the world what MicroProfilers care about in 2021. The Spanish tweet could be translated into English helping

[2021-03-31 02:07] aeiras commented on #53
amazing. Added to the agenda already. Tetiana already set-up the agenda.
Please Ryan, do make sure you add closed tickets there as well. It is easy for me to miss stuff. :)

[2021-03-31 03:17] emecas opened #72 "Awareness of the Spanish Plan version via MP Twitter"
### Tweet Text:

El Plan Anual MicroProfile 2021 disponible en Español: https://drive.google.com/file/d/1_zLvW57P6sKMknI5fHFj0lyPD4qRoIwT/view?usp=sharing incluye Objetivos Estratégicos, Técnicos, y para Extensión de la Comunidad, Actividades de Marketing, Proceso de Especificación, Compatibilidad y Marca

This relates to:
https://github.com/eclipse/microprofile-marketing/issues/399
https://github

[2021-03-31 03:24] emecas commented on #44
Amelia, thank you  for the clarifications, unfortunately in this repo I can't close tickets, assign people, or add labels !!

Also, I could take care of the prospectus document, I would add a ticket for it later!!

[2021-03-31 16:36] aeiras commented on #44
Emerson,

I will start the work in adding contributors to the MPWG this week. With your help, you can check your access and see what you can do and what you cannot do once you get that email invite. Stand by.

Amazing you can help with the Prospectus. Expect me to collaborate with you on the review. :)

[2021-03-31 16:48] aeiras commented on #72
@rstjames,

can you please help us shorter the link above?

@emecas, so fantastic.  I am happy to run a final review in twitter once we have the link from Ryan.

Ryan, do you think we could run this media push 1 per month or what timeline do you recommend. It goes from April to Dec 31st to match the year?
The goal is to bring awareness of the work being done and hopefully increase onboarding Micro

[2021-03-31 19:05] aeiras commented on #44
So deeply excellent, Emerson. Thank you for helping pilot the access.
Create tickets at will as you work on stuff, use projects and labels, and let's do this! :)

[2021-04-01 02:38] emecas opened #73 "Prospectus document - Spanish Version"
Help on the translation of the [Prospectus Document ](https://docs.google.com/presentation/d/1hNZ5sgmLcB76i2xPmNmWXZ9Wx39Otc0YRoj8W68FsE0/edit#slide=id.g6edf059ff0_56_0)  Spanish Version

English Version: https://docs.google.com/presentation/d/1hNZ5sgmLcB76i2xPmNmWXZ9Wx39Otc0YRoj8W68FsE0/edit#slide=id.g6edf059ff0_56_0

[2021-04-01 22:40] emecas commented on #73
A First Draft [WIP - 50% done]: https://docs.google.com/presentation/d/1B1uRPNAox5iSL2pOsaI_1ogmjR9MBcmUDb79u-fyHzA/edit#slide=id.g77280c392b_2_6

[2021-04-01 22:51] aeiras commented on #73
wow, i will be happy to contribute on review once you complete the translation Emerson.
Remember to add the task to the Mktg agenda for next Mktg call should you have completed the translation and do the same thing we did for the Program document. Iterate. This time, I won't help you with logistics.

Ideally, you are motivated to write the Spanish guidelines on how to own the work you are currentl

[2021-04-01 22:55] aeiras commented on #42
[Mktg Agenda April 5th call ](https://docs.google.com/document/d/1fQWUiCInhJni8WhGt2k5WKqb8K6BuhzzWTzqynvX3_U/edit#heading=h.woprq726kfgm)
[2021 MPWG Budget] ready to start review and shape 2021 Budget- Welcomes YOU to match the 2021 Program Plan! :)  (MP Community Thread) provides MicroProfilers the edit access, if you wish to work on the project plan, jump in.

Relevant documents: the joining Mi

[2021-04-01 23:29] aeiras commented on #45
@rstjames,

the word document contains the example from the Jakarta EE handbook.
The MPWG doesn't have to be a replica to that document.
We have completed and exported most of the MP work into the website already, lets use the document for a nice follow-up.
Using google slides is ideal but any other format is also welcomed. Just keep everything in the Trademark drive that will provide public edit

[2021-04-01 23:33] #54 closed

[2021-04-01 23:35] #56 closed

[2021-04-01 23:40] TetianaFTV commented on #47
Made some editing of the texts. Rustam, hope I didn't messed up your surname :)
Anyway, considering that I'm not a native speaker, it would be good if Dmitry can make a final check.

[2021-04-01 23:52] aeiras opened #74 "[Documentation] Marketing Onboarding Members/Contributor's Wiki"
Working space [Community drive ](https://drive.google.com/drive/u/0/folders/13qmKV0inSuxX3uhzpD_mbLKtmgmHI2e4)
to be linked to MPWG general [onboarding wiki](https://github.com/microprofile/microprofile-wg/wiki/MicroProfile-Working-Group:--Members-Onboarding)

[2021-04-01 23:55] aeiras opened #75 "[Documentation] Committer/Contributor Onboarding Wiki"
related to adding the wiki link to the MPWG Onboarding Members [wiki](https://github.com/microprofile/microprofile-wg/wiki/MicroProfile-Working-Group:--Members-Onboarding)

Google drive community [access](https://drive.google.com/drive/u/0/folders/13qmKV0inSuxX3uhzpD_mbLKtmgmHI2e4)

related to https://github.com/microprofile/microprofile-wg/issues/74

[2021-04-05 15:23] emecas commented on #73
Final draft is completed  and ready for review https://docs.google.com/presentation/d/1B1uRPNAox5iSL2pOsaI_1ogmjR9MBcmUDb79u-fyHzA/edit#slide=id.g77280c392b_2_6

I was going to add the task to the marketing agenda ,but it is already there, but  for Apr 12 meeting, since Apr 5 is just for budget discussion, meanwhile I am going to start thinking how to approach the wiki idea you have mentioned befo

[2021-04-05 16:18] mehmandarov commented on #73
Great, @emecas! Thank you!

[2021-04-05 19:46] TetianaFTV commented on #42
**Update based on the 5th of April call:**

[Budget Document](https://docs.google.com/spreadsheets/d/1Xg0LbeQSH7MiJDmG_qm_BkcpK9Xacl2cE75fAzrEAOw/edit#gid=782165082)

**Approximate budget distribution:**

Total Marketing Budget | $37,000 | 100%
-- | -- | --
Swags & Events | $20,350 | 55%
Contingency | $3,700 | 10%
Infrastructure | $2,220 | 6%
Google AdWords | $5,550 | 15%
Paid social media, backli

[2021-04-05 20:20] aeiras commented on #42
I adjusted the 1st tab under the budget summary to match the general distribution of the budget. Now, it matches. So fun!

[2021-04-05 20:23] aeiras commented on #73
@emecas do follow suit by sending call to action to review to the community forum. You could set up a 2 or 3 weeks' window, up to you to provide the deadline. minimum 2 weeks. :) you can be as nice as you want with extra week!

[2021-04-06 07:45] mehmandarov commented on #47
Thank you @TetianaFTV! I have reviewed the changes and made some minor revisions. I have also added a call for other reviewers through our [mailing list](https://groups.google.com/g/microprofile-marketing/c/uUgum2FdX7A), so we can give it another 2 weeks before we can close this issue and mark it as done - April 19th, 2021.

[2021-04-06 07:55] mehmandarov commented on #47
TODO: We need to update the duke logo and watermarks.

[2021-04-06 18:13] aeiras commented on #47
@mehmandarov,

Are you ready to share it with the MP Community forum, Rustam?

Emerson is working on documenting the steps on translating... ideally, since you undertake this awesome task as well, you could help with that document that will become a wiki :) for translations.
Once deadline is set, it ought to expand and include the entire community.
Check Emerson's [Call to action](https://groups.g

[2021-04-07 06:38] mehmandarov commented on #47
Yes, I am ready. :) Should I stick to English, or write it in Russian?

[2021-04-07 15:54] aeiras commented on #52
@dblevins & @rstjames created 2 Venn diagrams:
<img width="889" alt="image" src="https://user-images.githubusercontent.com/10731224/113896441-c911ea00-977e-11eb-8d75-e6b9f193858d.png">
<img width="863" alt="image" src="https://user-images.githubusercontent.com/10731224/113896476-d038f800-977e-11eb-8019-991d09a8c98c.png">

[2021-04-07 15:56] aeiras commented on #52
as stated on 4/6 CN4J discussion, Ryan will update the APIs relationship to follow the 2 slides above format, making it easier for the viewer to consume the information.

Will and Tetiana who worked in the IPA's side are ok with the modification. :)
<img width="578" alt="image" src="https://user-images.githubusercontent.com/10731224/113896592-ef378a00-977e-11eb-9144-4b1051e10c9e.png">

[2021-04-07 15:57] aeiras commented on #52
@rstjames,

Will use the Jakarta EE goodle presentation slide to draft the original messaging.
Let's adjust across the entire presentation stuff related to branding and trademarks to make sure the 2 groups are fairly represented.

[2021-04-07 16:20] aeiras commented on #47
Must be all in Russian of course! :)

[2021-04-09 19:30] aeiras opened #76 "[JUGs Partnership with MPWG] Sponsorship Research"
From the budget discussion on 4/5/21, we discussed the need to reach out to global JUG Communities and get their direct feedback on various forms to **how best support their communities**.
One of the core [2021 MPWG Program](https://drive.google.com/drive/folders/11RQe2ONXqqK4YQUfXtvNtMJYq_IfEiji) goals is the Community outreach as part of the MP Champions Program.

Current ideas from past discuss

[2021-04-12 16:41] emecas commented on #73
Done,  Community forum conversation: https://groups.google.com/g/microprofile/c/97yxkCWRdOI

[2021-04-12 17:42] mehmandarov commented on #73
@emecas: Just beware of the same link permissions problem here as well. The link in the email seems to be broken. :)

[2021-04-12 18:33] emecas commented on #73
thanks @mehmandarov  it should be fixed now, please let me know if it is not the case

[2021-04-12 18:39] mehmandarov commented on #73
Not the link from the email you have linked here: https://groups.google.com/g/microprofile/c/97yxkCWRdOI. I have tried with two different accounts. Both say "You need access". :-/

[2021-04-12 22:03] mehmandarov opened #77 "[MP Website] Update working group page on MP.io"
This [correspondence](https://groups.google.com/g/microprofile-marketing/c/b9kL9TmDyzo) was an inspiration to this issue. The info about WG can be really tricky to find. I'm adding my suggestions below.

We need to:
* update https://microprofile.io/workinggroup/ with the list of the members (bullet points?)
* are all the logos up there in the header?
* explain Steering Committee and Working Group

[2021-04-12 22:10] mehmandarov commented on #77
@debbiehoffman I tried adding you to this issue, but you have not yet accepted invite to this repo. Can you do it, so I can add you to assignees? 🙂

[2021-04-12 22:10] TetianaFTV commented on #77
Rustam,

Thanks for summing up. I've already created task for the site update
[MP Site] Add iJUG and Fujitsu Logos to Member Page
<https://github.com/eclipse/microprofile-marketing/issues/481>

as well as tasks to receive the required logos

   - iJUG #479
   <https://github.com/eclipse/microprofile-marketing/issues/479>
   - Fujitsu #480
   <https://github.com/eclipse/microprofile-marketing/issue

[2021-04-12 22:12] mehmandarov commented on #77
This is great. I saw it just now, but this issue is also about restructuring the content of the site to make it more accessible/easy to find.

[2021-04-13 19:00] emecas commented on #73
you are right , the one at the bottom of the email is not working and I could not fix it. May you please try this link, the one in the email's body : https://docs.google.com/presentation/d/1B1uRPNAox5iSL2pOsaI_1ogmjR9MBcmUDb79u-fyHzA/edit

[2021-04-13 20:55] mehmandarov commented on #73
You are right, @emecas! It works! Thanks! 🎉

[2021-04-16 19:15] aeiras commented on #45
With @rstjames, we are going to start the work using the same format used as with Lars' MP White Paper. Doing so will welcomed feedback early and often while making it easier for Ryan to make great designs. :) Thanks Ryan for the thoughtful feedback and reminder to drop google slides.

<img width="283" alt="image" src="https://user-images.githubusercontent.com/10731224/115073513-4a6b2a00-9ead-11eb

[2021-04-19 18:06] emecas commented on #44
Final folder: https://drive.google.com/drive/folders/1hj-o5s2-LXBpuw0h_xKkJVQ-iz265K6C
PDF: https://drive.google.com/file/d/1ENJIhBRnrJMQuBiSY1mNw-iX1EY_9PNj/view?usp=sharing

[2021-04-19 19:53] aeiras commented on #73
@emecas,

I cannot start the review because the document is not hosted under the MP Community folder.
Remember that when collaborating in anything MP related to Marketing, the usage of INFRA tools recognized as formal for collaboration are required.

Cheers

[2021-04-19 20:13] TetianaFTV commented on #42
@aeiras added the updated budget slide here
https://docs.google.com/presentation/d/1m2u3B79JWQ8R4dCx8WFtg7lIRpGTr1US/edit#slide=id.gd3076aa87a_0_3

[2021-04-19 20:38] emecas commented on #73
@aeiras

I tried to move it to `MicroProfile Drive` ->  `Working Group` -> `Prospectus` folder, but it did not let me do it, so I ended  moving it to  `MicroProfile Drive` -> `Community` -> `Working Group` folder

No idea if this is because an access problem or if there are other " INFRA tools recognized as formal for collaboration" ?

[2021-04-19 20:46] aeiras commented on #73
omgosh, you were also affected by the google bug (~2 weeks ago). Please check again.
I reviewed each folder of MP last week and everything should be back to normal.
Apologies, I forgot to send a msg to the mktg forum after completing that review.

Pull me via this ticket for anything related to issues with the drive and this task. Deadline is here : )Lets do this!

[2021-04-19 22:43] emecas commented on #73
thank you @aeiras  and sure let's try to fix driver issues here.

I'm sorry if i am going over the same topic again, but I'm asking because I'm not 100% sure what "back to normal" means :) , mainly because my access (in genera before and now) has been pretty restricted, so at least for now please let me so where do yo want this document to live so I can review if i can place it on that particular

[2021-04-19 23:36] aeiras commented on #73
You are not wrong Emerson in asking questions.
Under the MP Community drive, there are only a few folders that welcome anyone, anywhere to have full edit access to the content. For example full edit access:

- Community folders
- Minutes folder
- Blog/content creation

The other folders are "view" only and have always been restricted to have "view". The MP Admin access provides a list of people wi

[2021-04-21 19:10] TetianaFTV opened #78 "[MP Compatibility Logo Submission] Versions from Jelastic"
Here are some versions of MP compatibility logo from Jelastic team:

**Version 1**
- dark background https://drive.google.com/file/d/1wQ5vFUWk8DYKgEcTPsNDWa8-VG2eIwIY/view

- white background https://drive.google.com/file/d/1FSd4bK78FVNeqzxKSTBWH-89K7S3P4Tc/view

![microprofile-compatible-v1-jelastic](https://user-images.githubusercontent.com/38689227/115607882-d209cc00-a2e5-11eb-8146-3fef2a671537

[2021-04-22 13:31] TetianaFTV commented on #72
@emecas you can share Spanish Plan version highlighting that you are the contributor of this Spanish MP content with the card below:

![microprofile-cards-spanish-contributor](https://user-images.githubusercontent.com/38689227/115722956-c66ae380-a37f-11eb-8ab5-f8a4563acbbc.png)

[2021-04-22 13:33] TetianaFTV commented on #47
@mehmandarov you can share Russian Plan version highlighting that you are the contributor of this Russian MP content with the card below:
![microprofile-cards-russian-contributor](https://user-images.githubusercontent.com/38689227/115723144-f5815500-a37f-11eb-92ef-70b05d9de35a.png)

[2021-04-26 17:02] #52 closed

[2021-04-26 18:33] aeiras commented on #78
@TetianaFTV this is the area where feedback will be provided to the work submitted. Ticket needs to remind open until the winning logo is out.

[2021-04-26 21:18] aeiras commented on #45
@rstjames,

https://indd.adobe.com/view/c3d13bf2-e849-41ea-8c4e-bf47775826b7  bringing the crude draft on the book to this ticket.

[2021-04-27 10:31] #27 closed

[2021-04-27 13:40] rstjames commented on #45
Here is the first draft of the MP branding manual. Please go to this link and leave your feedback.
https://assets.adobe.com/id/urn:aaid:sc:US:52d9e7d5-c15b-4470-9837-923f42038dca?view=published

[2021-04-28 17:34] emecas opened #79 "[MP Licenses] Implementation vs Compatible Patent comparison - Document"
In order to start this particular task, that came out during our yesterday [meeting - April 27](https://docs.google.com/document/d/1haN2ru2e1flrZ2w07e5Mh3WpMs2713ixz5Ue7hs4uAg/edit) a quick follow up here.

If I am not bad I heard you said @aeiras  we have 48 hours for the subject, so I am wondering how we must start the conversation / work about patent licenses document elaboration.

Is there an

[2021-04-28 21:00] aeiras commented on #79
Thank you, @emecas!

[Implementation vs. Compatible Comprehensive Analysis
](https://docs.google.com/document/d/1kZQ1jB632jb0fZz1_PuHN7-QRwP4E2CAd59XTBRTCcY/edit#) is ready to absorb the facts on the 2 choices to enable effective conversation.

You are most welcomed to start populating the pros and cons under each choice, if you have the bandwith to use the document provided during yesterday call.

[2021-04-28 21:03] aeiras commented on #79
I will get to the document latest tmw AM.

[2021-04-28 23:33] aeiras commented on #79
With legal, I won’t connect until next week. The 48hrs as I imagine is too aggressive.

That’s why there is no accepted “deadline” on this topic to rush to a badly understanding of the 2 choices.

Emerson, you are most welcomed to do research & add stuff as you see fit during these time.

Abrazos,

[2021-04-29 14:00] emecas opened #80 "[MP Compatibility Logo Submission] Versions from Emerson"
Following the [guidelines ](https://docs.google.com/document/d/1pcEducp-lEC0o0I3hRRzt3Kc-uC-hN3zQ-Yj1MqSuiE/edit#) for participation and submitting a logo, here are some versions of MP Compatibility Logo from myself:

#ByCommunityForCommunity

### Full Color Version(s)
link: https://drive.google.com/file/d/1mEjIeMohH_UbH3zDOdAlfOcKAcQcRe7o/view?usp=sharing
![image](https://user-images.githubuserco

[2021-04-30 22:40] aeiras opened #81 "[MP Compatibility Logo Submission] Versions from Tomitribe"
https://drive.google.com/drive/u/0/folders/1RIr0Es67ggV198k7cJhwrTEW35xVmt0R
<img width="537" alt="image" src="https://user-images.githubusercontent.com/10731224/116760566-1d993580-a9ca-11eb-8acb-fe8e1b497077.png">
<img width="549" alt="image" src="https://user-images.githubusercontent.com/10731224/116760583-25f17080-a9ca-11eb-96c8-4489b2b6ee39.png">
<img width="1076" alt="image" src="https://user

[2021-05-03 11:14] radcortez commented on #25
Closing this one, since we were unable to recover all required file following the staging repository delete. The spec team may follow up with another release as they see fit. Thanks!

[2021-05-03 11:14] #25 closed

[2021-05-03 11:15] radcortez commented on #26
Closing this one, since we were unable to recover all required file following the staging repository delete. The spec team may follow up with another release as they see fit. Thanks!

[2021-05-03 11:15] #26 closed

[2021-05-05 01:52] vincentmayers opened #82 "[MP Compatibility Logo Submission] Versions from AJUG"
![MicroProfile Compatible Logo Comps_MicroProfile Compatible AJUG1_1](https://user-images.githubusercontent.com/5480295/117089254-ee185f00-ad22-11eb-8618-d0eb8778a259.png)
![MicroProfile Compatible Logo Comps_MicroProfile Compatible AJUG1_2](https://user-images.githubusercontent.com/5480295/117089255-ee185f00-ad22-11eb-8d2f-9d14391d6f09.png)
![MicroProfile Compatible Logo Comps_MicroProfile Compat

[2021-05-05 01:57] vincentmayers commented on #82
added drive link

[2021-05-05 02:00] aeiras commented on #82
💪🏼 Leave ticket open 💛to enable review work after the 16th!

[2021-05-05 09:12] rstjames commented on #45
Hi everyone. Here is the latest draft. Updated a couple of comments from people. Did not see many. https://documentcloud.adobe.com/link/review?uri=urn:aaid:scds:US:36dbb40b-eb90-49a7-80c6-1ca8074a0dc3

[2021-05-05 18:29] rstjames commented on #82
@vincentmayers  Cool designs. The only issue is that this goes against the branding/ usage of the M in the logo. It is standard not to change, angle or overlap a logo or logo mark. I know we do not have the manual now to explain this but it in is progress: https://documentcloud.adobe.com/link/review?uri=urn:aaid:scds:US:36dbb40b-eb90-49a7-80c6-1ca8074a0dc3

[2021-05-05 18:56] aeiras commented on #45
@rstjames,

The draft is a good start. I notice that it has not brought in components found in the Jakarta EE branding handbook.
Can you please go into that document and notice what is missing from the draft.

I have submitted a few comments but I have stopped until you have time to review the reference example added on the task.

[2021-05-06 18:50] kwsutter commented on #28
I left a comment on the CCR that I find the TCK results very hard to read and decipher due to all of the "noise" in the output.  Nobody has defined a specific format or content for the TCK results.  I'm just offering this observation.

[2021-05-10 22:29] aeiras commented on #47
@TetianaFTV
document is public https://docs.google.com/presentation/d/1JnbIYsxyNtKcJ3kvkBg9cDpT41b2xy9F5Ag4NmZUvJM/edit#slide=id.p

[2021-05-11 16:17] rstjames commented on #80
@emecas could you please make a version where the sticky note and the logo are not angled?  Part of the "branding guidelines" that are being put together right now. Please let me know if you have any questions. Thank you.

[2021-05-11 18:43] emecas commented on #80
Sure!!! here you go, I have added those to the folder as well , thanks @rstjames

![image](https://user-images.githubusercontent.com/849502/117867822-7be1d600-b25e-11eb-9db5-d0897f04d551.png)

![image](https://user-images.githubusercontent.com/849502/117867850-81d7b700-b25e-11eb-9fde-f437e1275914.png)

[2021-05-12 06:58] rstjames commented on #80
@emecas thanks bud

[2021-05-12 13:46] rstjames commented on #82
@vincentmayers

[2021-05-12 14:17] rstjames commented on #45
Version 2 is ready to review:
https://documentcloud.adobe.com/link/review?uri=urn:aaid:scds:US:fa67622d-ca1f-48f2-bd13-5e5ac59efb94

[2021-05-12 18:35] aeiras commented on #79
@emecas,

Thank you for wishing to help.
Based on much of the feedback due to "legal" concerns, The legal document couldn't be created.
 Instead, the informal, factual via example sharing of the patents has been sent, enabling the creation of the wiki.

 Wiki https://github.com/microprofile/microprofile-wg/wiki/Patent-Example-with-LRA

Closing this ticket!

[2021-05-12 18:35] #79 closed

[2021-05-13 00:19] aeiras commented on #45
@rstjames fantastic improvements in version 2, thank you!
You added brightness and more detail to the handbook.

I added further comments. I will create a word document where writing the history of the Mark is possible, that part is missing in the introduction of the book. Or if you want to own it, please go at it.  Happy to review your writing.

[2021-05-13 09:44] rstjames commented on #45
latest updates for review:
https://documentcloud.adobe.com/link/review?uri=urn:aaid:scds:US:dc9ffa1d-b03a-446f-9e1f-a24558b82057

[2021-05-13 11:52] #23 closed

[2021-05-13 12:02] radcortez commented on #37
Done in https://github.com/microprofile/microprofile-wg/issues/23.

[2021-05-13 12:02] #37 closed

[2021-05-14 17:48] aeiras commented on #73
Hola @emecas,

Can you add your name to the first page of the document as you did for the Program?  Credit is due.
I added our names to the comments section as well.

I will review the document carefully once again next week. before we convert it to PDF. Great job Latin Armada!

[2021-05-15 12:35] LuisGalazM commented on #73
Hola,
I wrote some suggestions as comments in the document.
Saludos!

[2021-05-15 14:21] aeiras commented on #73
Que chevere, Luis!
let us work with you on the feedback early next week 💪🏼🥋 thanks for your time & help 💛

[2021-05-17 22:06] aeiras commented on #73
@LuisGalazM thank you for using red to add the word, easy to catch and appropriate. Note that your name was added on 2nd page as a Contributor.  Your input is accepted.

@emecas,
I have reviewed the document once again, I used "red" to add stuff, emulating Luis's feedback :)
Also adjust stuff, deleted stuff.  The quotes are complicated but doable.

In short, this project translation allows us to s

[2021-05-17 22:24] Emily-Jiang commented on #34
Raised https://github.com/eclipse/microprofile-jwt-auth/issues/243 for JWT and Bean Validation.

[2021-05-18 04:46] LuisGalazM commented on #73
@aeiras la verdad es que yo utilize comentarios, que @emecas resolvio ayer. Las palabras en rojo ya estaban ahi :).

[2021-05-18 16:59] aeiras commented on #73
Luis, I saw a message from you but it is no longer here.
Super chevere tenerte aqui ayudando con la traduction.
Google slides doesn't allow us to track changes, the only way is to look into the history which is very time consuming.

Abrazos,

[2021-05-19 15:00] emecas commented on #73
@aeiras as @LuisGalazM  mentioned I was the one who left some words in red, because I had not a decided translation, but from all suggestions/comments that was completed, accepted all Luis's suggestions in the document, leaving in pending only the cite for IBM , @LuisGalazM  thank you so much for your observations

@aeiras I noticed you added multiple suggestions in red, are those the definitive w

[2021-05-19 17:10] aeiras commented on #73
Yes, the red is suggested wording, Emerson.
Sadly, I was not able to get the "suggested mode" to work for me so when I deleted stuff you won't see as easy, yawn.

Thank you for looking into it, Latino!

[2021-05-20 14:50] emecas commented on #73
DONE , I added a comment for the only suggestion from you @aeiras that I did not accept, suggesting an alternative translation.

Thanks

[2021-05-20 18:55] emecas commented on #73
I have applied the last update that was in pending, the IBM's cite text, it is now according to the original [missed] text as well as I had to extend the shape and text-field in order to make the new text'd fits visually

@aeiras@tomitribe.com and @LuisGalazM any additional feedback is welcome

[2021-05-24 12:52] xstefank opened #83 "MicroProfile Health 3.1 Specification Review"
- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-_project_-spec-_version_.pdf
   - [x] Specification HTML in the form of microprofile-_project_-spec-_version_.html
   - _project_ is the microprofile specification short project name (config, health, ...)
   - _version_ is the two

[2021-05-24 22:42] TetianaFTV commented on #47
@aeiras please add here English version of the tweet for sharing the plan, so we can prepare Russian translation with the same message

[2021-05-26 13:18] rstjames commented on #39
@aeiras we are calling the "Compatability" badge a "logo" we should have this task also called a "logo" or "badge".
NOT "banner" it is confusing what it is.

[2021-05-26 13:22] rstjames commented on #45
@aeiras I do not have time to write up the "history" of the logo. Let's push it out and we can add it later. I honestly couldn't tell you when I made the logo...  only that the community voted for it and there were a couple of other submissions.

[2021-05-26 13:23] aeiras commented on #39
Good call out, I will fix it. This was a transfer from the other Repo. Thanks Ryan! 🥋

[2021-05-26 13:25] aeiras commented on #45
Ok, I will look into the community threads bc we used open brainstorming back when. 🥰

been almost 😅 5 yrs so totally ok to not remember stuff. Like you said, we can add it later if not found during this work period.

[2021-05-26 13:26] aeiras commented on #45
I will review the latest version today.

[2021-05-26 13:42] rstjames commented on #45
MicroProfile logo history:
In 201X the community came together and submitted a wide range of logo options that they felt could represent MicroProfile. When the submission deadline ended the community voted for which logo would represent MicroProfile.

The winning logo was created by Ryan St. James (Tomitribe)

@aeiras also what legal line do we need? (copywriter)

[2021-05-26 15:01] aeiras commented on #39
To be discussed during the marketing call and then the community call (with the decision) on how to get this done.

My recommendation is for any of the members to create a design, submit, & members (steering cmtee) gets to vote on final design. Easy, effortless and simple.

Ryan, are you ok to add it to the agenda and own the how you think we could do this if above recommendation is not efficient

[2021-05-26 15:38] aeiras commented on #45
The formal (legal) transfer from TT to EF on the MP logo took place on Sept 2017 @rstjames.

Community thread: https://groups.google.com/g/microprofile/c/WtI2G1IWFC0/m/4370bcI_AgAJ

The logo has been in use formally since then in all MP content, swag, website, conference sessions, etc.

Logo submissions and selection took place in May & June 2017 via the community forum, many threads but will list

[2021-05-26 17:36] aeiras commented on #72
@emecas,
Thank you for creating this ticket that enables the brainstorming for the message to share the 3 documents.

Using your draft:

_The MicroProfile 2021 Project Plan lists the MicroProfilers' strategic trajectory of their work on marketing activities, growth with the community, infrastructure, technical objectives, specification process & compatibility brand management. [LINK]

#ByCommunity

[2021-05-26 17:45] aeiras commented on #72
@TetianaFTV if you could check the suggested English version for grammatical errors and impact on the message that would be great! thanks

[2021-05-27 13:53] rstjames commented on #45
Latest version:
https://documentcloud.adobe.com/link/review?uri=urn:aaid:scds:US:c8481386-828c-4fd8-8a13-119355efd724

[2021-05-27 15:27] aeiras commented on #47
@TetianaFTV,

A version is avaialble for review here https://github.com/microprofile/microprofile-wg/issues/72
with comment https://github.com/microprofile/microprofile-wg/issues/72#issuecomment-848977304

Leaving until Tuesday to collect feedback and then, you will have the Spanish version as well. thanks for the Russian version :)

[2021-05-27 17:17] emecas commented on #73
Thanks @aeiras , as advised same as we did in #44  I have made that last change, final version is ready!!!

[2021-05-28 00:39] aeiras commented on #73
Emerson and Luis,

The document is now on its way to being published via all MP areas:

- ticket 512 helps MP media publish the document as often as the English version.

- ticket 511 adds the Prospectus to the MPWG website

Emerson,

1. I adjusted a few more things with colors that we overlooked before
2. the document stays in word version, never PDF
3. it is moved to the MPWG >Prospect folder, a

[2021-05-28 01:00] aeiras commented on #45
Thank you, Ryan!
Please expect my review on version 4 early next week.

For history work and tracing, please drop the 3 versions in the [folder](https://drive.google.com/drive/u/0/folders/1zXwNllUjw3ftjsNdUVE7shmLe9UOuErc)

Abrazos,

[2021-05-28 03:32] LuisGalazM commented on #73
@aeiras, I'm glad I was able to help. My twitter handle is @GalazOnline

[2021-06-01 14:03] andymc12 opened #84 "MicroProfile GraphQL 1.1.0 Specification Review - next attempt"
**Specification issue template**

When creating a specification project release review, create an issue in the [MicroProfile-WG repository](https://github.com/microprofile/microprofile-wg) repo with the content defined as follows.
- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-

[2021-06-01 19:18] TetianaFTV commented on #72
**some edits as the version above is a bit too long if we add the link:**

The @MicroProfile 2021 Project Plan lists the strategic trajectory of MicroProfilers' work on marketing, community growth, infrastructure enhancements, technical objectives, specification process & compatibility brand management

#ByCommunityForCommunity

[2021-06-01 19:30] TetianaFTV commented on #47
possible Russian translation:

План программы @MicroProfile 2021 раскрывает основные стратегии и векторы в работе MicroProfile команды для достижения маркетинговых целей, роста сообщества, улучшения инфраструктуры и технологии, процесса спецификации и управления брендом совместимости

@mehmandarov please take a look and made any edits required

[2021-06-01 19:34] mehmandarov commented on #47
Thank you, @TetianaFTV. I will do it tomorrow if it is ok for you. Please let me know if there is anything. 👍

[2021-06-01 19:34] aeiras commented on #72
reads good, Tetiana!

@rstjames can you please help us create a special short-link for the Program Plan in English? Thank you!
1 link houses 3 translations:

- [ 2021](https://drive.google.com/drive/folders/11RQe2ONXqqK4YQUfXtvNtMJYq_IfEiji)

For design I recommend:

- 2021 large using the title of each Translation
- #ByCommunityForCommunity
- Open Souce

@emecas can you  please help translate to

[2021-06-01 20:12] aeiras commented on #73
Luis,
Your Twitter profile has been added on the 1st page of the document, gracias!

The Prospectus is now added side by side https://microprofile.io/workinggroup/ on the MPWG page
<img width="1158" alt="image" src="https://user-images.githubusercontent.com/10731224/120384283-cfce6080-c2da-11eb-9564-aa5d5a5cfe3e.png">
as indicated in the other git ticket.

the social media ticket is pending as the

[2021-06-01 20:12] #73 closed

[2021-06-01 20:12] aeiras commented on #73
@emecas please add stuff to the Mktg agenda on this under "completed work", congratulations to YOU!

[2021-06-01 21:23] kwsutter commented on #83
@radcortez and @xstefank, why is there another "specs" directory in the maven repository:
https://oss.sonatype.org/content/repositories/orgeclipsemicroprofile-1469/org/eclipse/microprofile/health/specs/microprofile-health-spec/

Shouldn't the "microprofile-health-spec" directory be at the top-level like all of the rest?
https://oss.sonatype.org/content/repositories/orgeclipsemicroprofile-1469/org/

[2021-06-02 07:05] xstefank commented on #83
@kwsutter this is historical, going way before I started with the spec. Personally, I don't think we need to restart the ballot for this now if we want to make the June release for the platform but I agree that it should be done. I will do it in the next release if that's acceptable.

[2021-06-02 09:23] TetianaFTV commented on #72
here is the design for the tweet

![Program-Plan-2021](https://user-images.githubusercontent.com/38689227/120455215-d9b49a00-c394-11eb-860c-d1727908276d.png)

if it's ok we can later make Russian and Spanish versions

[2021-06-02 15:43] kwsutter commented on #83
Yes, that's the problem, isn't it?  Since it's already staged with this "specs" directory, any update would change the artifacts being voted on, right?  I guess it's just cosmetic.  I will create an Issue in the Health repo to get this cleaned up for the next release.  Thanks.

[2021-06-02 15:52] aeiras commented on #72
@TetianaFTV,

Thank you for getting stuff forward. Feedback as follows:

- [ ] I like the people in the room collaborating!

- [ ] It is hard to read the focus-listed items in the plan.  how about their re-distrubition as done with the Charter template?
<img width="869" alt="image" src="https://user-images.githubusercontent.com/10731224/120511656-73714c80-c37f-11eb-90cb-9c3adc280992.png">
 twitter

[2021-06-02 15:53] aeiras commented on #72
the template is in the drive, you could use that template to include a background image and change the borders and done.

[2021-06-02 17:45] aeiras commented on #45
@rstjames,

pretty an excellent version 4. I submitted what I believe are the final adjustments for v5.
V5 will await the Compatible logo (1 slide) to be included as a mark, and then we can call the document final.
Thank you for being very detailed in adding previews feedback in each version. It shows care!

Thank you for adding the 4 versions to the drive: https://drive.google.com/drive/u/0/folde

[2021-06-02 18:56] emecas commented on #73
Thanks @aeiras , The link in the web site "Aprende Mas" is not accessible to the public same as "Learn More"

[2021-06-02 19:01] aeiras commented on #73
Fixed.
Gracias, Emerson! :)

[2021-06-02 19:10] emecas commented on #72
Sure, want about this? @aeiras

**English Version:**

_The MicroProfile 2021 Project Plan lists the MicroProfilers' strategic trajectory of their work on marketing activities, growth with the community, infrastructure, technical objectives, specification process & compatibility brand management. [LINK]

#ByCommunityForCommunity_

**Spanish Version**

_El Plan Anual MicroProfile 2021 incluye las es

[2021-06-02 20:14] aeiras commented on #72
there is only change recommended.  How about replacing the "extension de la Comunidad" con **bienestar y crecimiento de la comunidad**.

**Spanish Version**

_El Plan Anual MicroProfile 2021 incluye las estrategias de trabajo para los MicroProfilers dentro de las actividades de marketing, bienestar y crecimiento de la comunidad, infraestructura, objetivos técnicos, proceso de especificación y prog

[2021-06-03 11:54] rstjames commented on #45
versions added to the drive and updated link
https://documentcloud.adobe.com/link/review?uri=urn:aaid:scds:US:93178459-2bbd-44cd-bf30-eee3cf808715

[2021-06-03 17:00] edbratt commented on #83
I don't know if it's too late, it would have been nice had the copyright year in title page of the Spec. document [license-efsl.asciidoc](https://github.com/eclipse/microprofile-health/blob/master/spec/src/main/asciidoc/license-efsl.asciidoc) been updated to 2021.

[2021-06-03 17:53] aeiras commented on #72
@TetianaFTV, it is a go from me. :)

Can you also help with the design in Spanish
**Spanish Version**

_El Plan Anual MicroProfile 2021 incluye las estrategias de trabajo para los MicroProfilers dentro de las actividades de mercadeo, bienestar y crecimiento de la comunidad, infraestructura, objetivos técnicos, proceso de especificación y programa de marca y compatibilidad. [add the LINK- shortern

[2021-06-03 18:03] aeiras commented on #45
Ryan,
I have no further comments on the document 💯

Thank you for adding version 5 to the drive.
I cannot save nor add version 1 through 4 to the drive. Can you please also add those versions?

Looking forward to the Compatible logo usage examples (from submitted logos) update you will show & tell on Monday.
Ideally, you can use the tickets in advance to help with show and tell. Do pull me in via

[2021-06-04 07:35] xstefank commented on #83
@edbratt good catch. Would require a full respin, unfortunately. Do we need to really restart everything again?

[2021-06-07 16:26] TetianaFTV commented on #72
@aeiras please provide Spanish translation for the texts on the image, so I can prepare its Spanish version

[2021-06-07 16:32] aeiras commented on #72
Here you go and thanks Tetiana!

**Title**
Plan Anual MicroProfile 2021
 **tasks:**
mercadeo, bienestar y crecimiento de la comunidad, infraestructura, objetivos técnicos, proceso de especificación y programa de marca y compatibilidad

[2021-06-07 18:58] aeiras opened #85 "[Trademark & Compatibility -Compatible Logo] MP Implementations list via slide"
@rstjames,

To use as examples following today's MP discussion on logo competition follow up.

Using the CN4J messaging slides, see to the left and middle MP implementations
<img width="625" alt="image" src="https://user-images.githubusercontent.com/10731224/121073508-74dbb400-c787-11eb-9d11-190d02811de2.png">

[2021-06-08 13:23] TetianaFTV commented on #72
@aeiras why don't we have a Spanish version of the presentation in the folder with others?
https://drive.google.com/drive/folders/1hj-o5s2-LXBpuw0h_xKkJVQ-iz265K6C
I know for sure that it was uploaded there but now I don't see it

[2021-06-08 13:47] TetianaFTV commented on #72
Spanish image

![Program-Plan-2021_2](https://user-images.githubusercontent.com/38689227/121195392-d8411100-c86f-11eb-8146-7de6c31684a0.png)

the twitter text is too long if pasting together with the link, so I shortened it a bit:

**Plan Anual MicroProfile 2021 incluye las estrategias para los MicroProfilers dentro de las actividades de mercadeo, bienestar y crecimiento de la comunidad, infraestr

[2021-06-08 13:52] TetianaFTV commented on #47
Russian image (the original font doesn't support cyrillics, so we had to use another but similar looking)
![Program-Plan-2021_3](https://user-images.githubusercontent.com/38689227/121196615-ed6a6f80-c870-11eb-90f8-ab74c4df0f4e.png)

Tweet text:
План программы @MicroProfileIO 2021 раскрывает основные стратегии и векторы в работе MicroProfile команды для достижения маркетинговых целей, роста сообщес

[2021-06-08 21:04] aeiras commented on #72
The text reads great, @TetianaFTV!

https://drive.google.com/drive/u/0/folders/1Cfhh3v799Tb_lTrBOIrm3dninpM9pCCt  under the Community Working Group_restrictive folder you can find the finalized documents.
We need the word documents to stay in the Community folder. PDF "finalized' always ok in the formal MPWG drive.
I added the word version to the folder. Ideally you PDF as you have done with the o

[2021-06-09 10:54] rstjames commented on #85
@aeiras I do not understand

[2021-06-09 13:16] aeiras commented on #85
On Monday’s call, I told you I will provide you with the MP implementations. Everything in the yellow oval is a MICROPROFILE implementation.

You can use the websites of a few implementations to show & tell how the submitted logos actually look.

That does make sense?

[2021-06-09 13:26] rstjames commented on #85
ok, that makes sense. Thanks

On Wed, Jun 9, 2021 at 3:16 PM Amelia Eiras ***@***.***>
wrote:

--

* Ryan St. James *

 ***@***.***
 @s8ntjames <https://twitter.com/s8ntjames>

 tomitribe.com
 tomitribe.io

[2021-06-10 11:04] ederks85 opened #86 "MicroProfile 4.1 Release Review"
- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-_project_-spec-_version_.pdf
   - [x] Specification HTML in the form of microprofile-_project_-spec-_version_.html
   - _project_ is the microprofile specification short project name (config, health, ...)
   - _version_ is the two

[2021-06-11 17:58] Emily-Jiang commented on #83
@xstefank please update the [component releae record](https://projects.eclipse.org/projects/technology.microprofile/releases/health-3.1) to match the new annotation.

[2021-06-14 07:24] xstefank commented on #83
@Emily-Jiang done, thanks.

[2021-06-14 16:20] rstjames commented on #85
Here is the template for each logo version. It is to show how the logo is scalable on "compatible" companies websites:
![Microprofile-compatible-logo-options](https://user-images.githubusercontent.com/12132146/121925310-155c4600-cd3d-11eb-84d8-7467aab69f6d.jpg)

Thoughts? If everyone is ok with this I will apply all logos to this simple template for voting.

[2021-06-14 16:42] Emily-Jiang commented on #48
After some discussion, MicroProfile Platform release estabilished a process of claiming compatible implementation. Considering that it is impractical to require new runtimes that do not support Jakarta EE web profile to pass CDI, JAX-RS, JSON-B and JSON-P tcks. The agreement is: prior to the consumption of Jakarta Core profile, claiming on MicroProfile platform releases require passing the 8 Micro

[2021-06-14 20:07] aeiras commented on #48
Hola Emily,

Can you please share the community forum thread where this was discussed? Thank you,

[2021-06-14 20:09] aeiras commented on #85
Great work, @rstjames!
The template looks ok to be applied to the other submitted logos. :)

[2021-06-15 15:50] rstjames commented on #85
The PDF to vote on:
[Microprofile-compatible-logo-options.pdf](https://github.com/microprofile/microprofile-wg/files/6656963/Microprofile-compatible-logo-options.pdf)

[2021-06-15 15:50] rstjames commented on #85
Not sure what is the best way to vote... survey... or ....

[2021-06-15 18:25] ederks85 opened #87 "MP 4.1 alignment on Jakarta EE 8"
MP 4.1 contains a description on how MP builds/aligns/relates on or to Jakarta EE 8. The right wording is necessary to be used here. Please provide suggestions.

[2021-06-15 18:26] ederks85 commented on #87
John Clingan has already provided suggestions via: https://github.com/eclipse/microprofile/pull/217#issuecomment-861589085

BTW, before we go final, I'd like to modify one statement. MicroProfile is not based on Java EE or Jakarta EE, but it does align with some specifications. More specifically:

"MicroProfile 4.1-RC1 is based on Jakarta EE 8. Although Jakarta EE 8 is API backwards compatible wit

[2021-06-15 18:27] ederks85 commented on #87
This builds on the changes made in: https://github.com/eclipse/microprofile/pull/215

[2021-06-15 18:33] aeiras commented on #87
+1 to description 2. Let's consciously drop the usage of abbreviations when documenting stuff!

[2021-06-15 18:46] Emily-Jiang commented on #36
MP will not come up with new database specs and would direct end users to use Jakarta JPA or JNoSQL.

[2021-06-15 18:46] #36 closed

[2021-06-15 20:53] rstjames commented on #85
https://drive.google.com/drive/u/1/folders/1unMeyPjVudkheFUKnpWYahAtAkT6An0b

[2021-06-16 00:04] aeiras commented on #85
Ryan,

Looks very clean. Simply efficient, I like it.
Please be prepared to present the document so that we can double-check everything, live.
Next week at the mktg meeting, we will discuss the voting process to share more feedback on the Community call is requested on Tuesday.  I will add data to the call agenda and assign you on the document part of it for a fun show and tell.
I believe we will

[2021-06-16 00:42] aeiras opened #88 "[[Trademark & Compatibility- Listing a Compatible Product] Define the Process"
This needs and can be defined by the MPWG.

Ideally, we can use git issues / PRs to get the data to the new page we must create on the Website.

On 6/14 Trademark discussion with Paul and others, we discussed briefly that MPWG can own the work up until the point of verification of the code. That part lands on the hand of the EF to make sure IP is protected, maven, etc

[2021-06-16 00:46] aeiras opened #89 "[Trademark & Compatibility] Git issue template to get listed as a Compatible Product"
Paul offered to provided the Jakarta EE template. Thanks Paul.

[2021-06-16 05:45] ederks85 commented on #87
PR created with description 2 as the proposed wording. Feel free to provide any other suggestions.

https://github.com/eclipse/microprofile/pull/219

[2021-06-16 20:22] aeiras opened #90 "[INFRA] Bug 574246 - Make the MPWG Steering Committee Email Archivable"
[Bugzilla Bug 574246 - Make the MPWG Steering Committee Email Archivable](https://bugs.eclipse.org/bugs/show_bug.cgi?id=574246)

[2021-06-17 19:58] ederks85 commented on #87
https://github.com/eclipse/microprofile/pull/219 has been merged

[2021-06-17 19:58] #87 closed

[2021-06-18 18:57] paulbuck commented on #89
See [https://github.com/jakartaee/jakarta.ee/issues/new?template=compatibility.md](url)

[2021-06-18 19:53] aeiras commented on #89
Hola Paul,
The link gives me a 502 Bad Gateway. thanks for verifying it.

[2021-06-18 20:19] paulbuck commented on #89
I fixed it up, try now.

[2021-06-18 20:21] aeiras commented on #89
It works, Paul. Gracias! :)

[2021-06-18 20:27] aeiras commented on #47
@rstjames,

The ticket is assigned to you. Thanks for the feedback! We missed the mark on these translation tickets at the end :)

Tetiana has created the image. We need your help with the Media schedule.
Let's push it 1 per month up until Dec 31st, 2021.  Thanks, Ryan!

[2021-06-18 20:35] aeiras commented on #72
@rstjames,

Same as the other ticket about the Russian message.  1 per month. And Prospectus goes until the end of the year as well. Gracias! :)

[2021-06-21 10:28] rstjames commented on #72
@aeiras @TetianaFTV
- Can someone confirm these are the final messages?
- Can we make it a habit at the end of a very long thread we recap the "final" agreed content? That way there are no mistakes.
- Please let me know when we have final LINKS for these tweets

**English Version:**
The MicroProfile 2021 Project Plan lists the MicroProfilers' strategic trajectory of their work on marketing activit

[2021-06-21 11:25] rstjames commented on #47
ok but I am not the only one that can schedule on hootsuite or on tweetdeck. So no need to wait for me to schedule all these types of tasks.

Set to go out once a month for the rest of the year.

[2021-06-21 11:25] #47 closed

[2021-06-21 19:47] aeiras commented on #47
Yes, currently, 3 of us can schedule stuff via MP media.
I don't help with recurring—only the day of.
Let's ask Tetiana via private Hootsuite if she knows how to help and if she wants to help. We cannot assume.  Tetiana is added to Hootsuite by her choice, which means she can contribute to schedule and planning.

@rstjames, do you want to ask her on the next mktg call?

[2021-06-22 11:11] Emily-Jiang commented on #48
It was discussed on technical calls on 20th May https://docs.google.com/document/d/1Ou7mvxQdYjZJOkzvMmCAGvlYr04veQfvEyzW__CLrUU/edit#heading=h.o3w362ei7zzu. The decision was made to [MicroProfile spec doc](https://download.eclipse.org/microprofile/microprofile-4.1-RC2/microprofile-spec-4.1-RC2.html#required-apis) with the following statement:
"A MicroProfile compatible implementation must pass all

[2021-06-22 15:51] rstjames commented on #78
@TetianaFTV can view the layout for voting here https://drive.google.com/drive/u/1/folders/1unMeyPjVudkheFUKnpWYahAtAkT6An0b

[2021-06-22 15:51] rstjames commented on #80
@emecas you can view the voting template here for each logo https://drive.google.com/drive/u/1/folders/1unMeyPjVudkheFUKnpWYahAtAkT6An0b

[2021-06-22 17:23] TetianaFTV commented on #78
looks good, thanks!

[2021-06-22 21:36] cesarhernandezgt opened #92 "[marketing] Documentation on how to perform a PR in any mp repository"
Documentation about the requirements and how to submit a first PR for MicroProfile is missing in the website and also on this repo.

I created https://github.com/microprofile/microprofile-wg/pull/91 as a reference we made with the community in https://github.com/jakartaee/collateral/blob/master/docs/how-to-pr.adoc

But ultimately I would vote for this information to reach the public-facing website

[2021-06-23 00:08] emecas commented on #80
thank you @rstjames , since versions submitted were just PNG files exports ( no taking  much care about scale),  I'm wondering if i can provide logos with better resolution for each of the required sizes you are presenting in the template ? If that is the case , do you have the different resolutions in the template ?

[2021-06-23 09:19] rstjames commented on #80
@emecas sure send me better quality if you have it and is there a way to make a ONE color (white) no shading,  no background like the other examples? This one color is needed for scalability and if it will ever be printed (with limted color print- example shirts)

[2021-06-23 12:51] rstjames commented on #72
each are set to go out once a month for the year

[2021-06-23 12:51] #72 closed

[2021-06-23 17:39] paulbuck opened #93 "The draft MicroProfile Trademark Guidelines doc format"
The draft MicroProfile Trademark Guidelines is a Microsoft Word doc, can that one be converted to a google doc please?

https://docs.google.com/document/d/1dturdVLQvx-UV6TbD9wr0pgFReBXhDH0/edit?pli=1

I and I expect that others do not have access to Microsoft Office and using G Suite to edit and comment on a Microsoft Office document is not always reliable.

[2021-06-23 19:16] aeiras commented on #93
Sure Paul.
I will ask the contributor who lead the work to do the conversion.

[2021-06-23 19:18] aeiras commented on #58
Hey Manish, @ @manish2aug,

Can you please help with the trademark conversion into a google document? See Paul's latest request below.  Thank you, MicroProfiler!

https://github.com/microprofile/microprofile-wg/issues/93

[2021-06-23 23:31] paulbuck commented on #93
Thanks so much!

[2021-06-23 23:31] #93 closed

[2021-06-24 07:19] manish2aug commented on #58
Hi Amelia,

Sorry for the late reply, I created the Google doc from the Word doc and
merged some suggestions from Paul too.

There are still 2 things he mentioned I am not sure about

1. Question about multiple logos
2. Use of Steering committee instead of Working group

Thanks
Manish

On Wed, Jun 23, 2021, 21:18 Amelia Eiras ***@***.***> wrote:

[2021-06-24 11:07] xstefank commented on #83
The artifacts are released and available in the maven central. Closing.

[2021-06-24 11:07] #83 closed

[2021-06-24 18:23] kwsutter commented on #93
Even though it is a .docx type on the file, everything with posting comments and/or editting seems to work just fine.  If we want to change the type on it, then all current references will need to be updated.  Unless there is a direct issue with this .docx format, I would suggest that we just leave it as-is until it becomes ready to be cast into stone.

@paulbuck are you okay with this approach?

[2021-06-24 20:50] paulbuck commented on #93
Hi Kevin,

I think I was having a bad day yesterday w/ the G Suite + MS Office .docx
experience. Appears to be better today, so let's leave it as-is for
the reasons you mentioned.

Thanks ... Paul

On Thu, Jun 24, 2021 at 2:23 PM Kevin Sutter ***@***.***>
wrote:

[2021-06-24 21:09] aeiras commented on #58
Manish,

It seems that new document is no longer needed. Please see this ticket's exchange of today.  https://github.com/microprofile/microprofile-wg/issues/93

Can you withdraw new document from the drive and lets continue to work in the original document?
Please pull me via the document with aerias@tomitribe.com for further questions on anything received you are unsure about.
Thank you for leadi

[2021-06-28 18:05] Emily-Jiang commented on #80
@emecas thanks for the design! Looks good! One comment: I am not sure about the pin as it is used for sticky notes - pretty much temp things. I am wondering whether you think it can be removed. If you disagree, it is fine too, as this is my personal feedback. @aeiras please feel free to comment further based on our conversation during the call today.

[2021-06-28 18:19] aeiras commented on #80
Lunes @emecas,

I wonder how attached are you to the pin?
I recommend its removal; however, it is for the time being still your design.  You can adjust it and protect it as much as you wish.

Thanks, Emily for the prompt reminder after today's focused call. You rock!

[2021-06-28 18:51] aeiras commented on #92
@cesarhernandezgt, thank you for such a wonderful contribution. I have added a request directly on the PR comments.
Once you help us link the document to the Contributing doc, the information will be linked under the Contributors tab.
We need a separate git issue from you to add to the Resources Page.

[2021-06-28 22:16] emecas commented on #80
thanks @Emily-Jiang and @aeiras ,  I think removing the pin is a good idea, actually the pin is giving me issues to get the asked version one color (white) no shading. I will give a try!!!

[2021-06-28 22:24] aeiras commented on #80
Emerson, always do what you think is best, regardless of feedback.
Bounce back any further ideas you might have. You got us, we gotU! :)

[2021-07-01 19:26] aeiras commented on #92
@nsardana-bny
I am taking the liberty to add you in this ticket b/c it deals with merging documentation PRs, pages and wikis.

https://github.com/eclipse/microprofile-marketing/issues/469  this ticket relates to current documentation that needs to become a Page under the [Mktg repo ](https://github.com/eclipse/microprofile-marketing/wiki)

Let's use the actual 469 ticket to unblock you if you enco

[2021-07-06 22:04] #28 closed

[2021-07-07 08:45] rstjames commented on #80
@emecas hey bud. we need an update on this sooner than later. thanks

[2021-07-08 18:29] Emily-Jiang opened #95 "MicroProfile 4.1 Compatible Certification Request"
- [x] Organization Name ("Organization") and, if applicable, URL:<br/>
IBM
- [x] Product Name, Version and download URL (if applicable):<br/>
[Open Liberty 21.0.0.8-beta](https://repo1.maven.org/maven2/io/openliberty/beta/openliberty-runtime/21.0.0.8-beta/openliberty-runtime-21.0.0.8-beta.zip) [Source jar](https://github.com/OpenLiberty/open-liberty/releases/tag/gm-21.0.0.8-beta)
- [x] Specificati

[2021-07-08 20:28] edbratt commented on #95
The TCK summary page references Jakarta EE TCK results page, that describe tests against a different version of OpenLiberty. If this version intends to claim compatibility with Jakarta EE TCKs, it should include proper evidence for this version.

I am not clear what requirements were settled on, for compatibility claims with MicroProfile 4.1 and the required Jakarta EE component specifications but

[2021-07-08 21:55] Emily-Jiang commented on #95
@edbratt thanks for reviewing this! The settlement on the compatibility was in the MP 4.1 spec itself: only require passing the 8 MP spec tcks. I will drop the reference to 20.0.0.3 for Jakarta EE tck results to avoid any confusion. I'll get this done on Monday as I will be off tomorrow.

[2021-07-08 22:56] Emily-Jiang commented on #95
Before I log off for my PTO, I managed to do the changes to remove the Optional Jakarta EE section and hopefully the change will be visible tomorrow.

[2021-07-08 23:35] emecas commented on #80
Thank you for your feedback @rstjames  @Emily-Jiang @aeiras ,

**Color**
![image](https://user-images.githubusercontent.com/849502/125002459-f9d61980-e022-11eb-9dbd-7679228614e7.png)

**One color (white) no shading, no background**
![image](https://user-images.githubusercontent.com/849502/125002492-0ce8e980-e023-11eb-9202-852b5fae6af7.png)

[2021-07-13 13:49] kwsutter commented on #86
But, it seems that the MP Platform does provide an uber javadoc jar file.  So, why not expand that into the 'apidocs' directory for easier viewing?

[2021-07-13 13:53] kwsutter commented on #86
Two different directory structures are being used for the spec (pdf and html) and the javadoc?  Why?  Very confusing...

- https://oss.sonatype.org/content/repositories/orgeclipsemicroprofile-1481/org/eclipse/microprofile/microprofile-spec/4.1/
- https://oss.sonatype.org/content/repositories/orgeclipsemicroprofile-1481/org/eclipse/microprofile/microprofile/4.1/

[2021-07-13 17:46] ederks85 commented on #86
@kwsutter I think it's a good idea to look at the project's structure in order to fix the confusing locations. I will keep that in mind for the next release

[2021-07-14 15:02] radcortez commented on #86
This is because the javadoc generation and the spec are in separate maven projects. We can probably merge them and have them in the same GAV.

[2021-07-20 18:56] #86 closed

[2021-07-27 08:54] rstjames commented on #38
@aeiras latest logo updates from emerson. Still does not align with the others but ... we can adjust things after if it's won.
[Microprofile-compatible-logo-options-juy27.pdf](https://github.com/microprofile/microprofile-wg/files/6884114/Microprofile-compatible-logo-options-juy27.pdf)

[2021-07-27 17:32] aeiras commented on #38
Thank you, Ryan for working with Emerson to improve the design. It looks better.

I have dropped the PDF in the [drive](https://drive.google.com/drive/u/0/folders/1unMeyPjVudkheFUKnpWYahAtAkT6An0b)

[2021-07-27 17:34] aeiras commented on #82
Hola Vince @@vincentmayers,

Please check the latest update on running logos [here](https://github.com/microprofile/microprofile-wg/issues/38)

You are most welcomed to adjust your submission as recommended on May 5th if you desire it.

[2021-08-02 21:42] aeiras commented on #46
completed by vote by both the Jakarta & MPGW committees at the end of July.

https://www.eclipse.org/lists/cn4j-alliance/msg00174.html

[2021-08-02 21:42] #46 closed

[2021-08-02 21:44] aeiras commented on #46
MPWG steering cmtee:
CN4J Messaging Ballot (if all representatives agree)
Slides: [here](https://docs.google.com/presentation/d/1wYBNqUHwADvipTC9fW5ugGMbDf_3_JH9skBtyPcI-IE/edit#slide=id.gcc4d734dd8_1_4)
Unanimously approved with the understanding the members can update their member and/or implementation logos if requested.

[2021-08-02 21:46] aeiras commented on #90
not possible based on EMO reply on the bug.

[2021-08-02 21:46] #90 closed

[2021-08-02 21:47] aeiras commented on #42
Completed via ballot vote [here](https://www.eclipse.org/lists/microprofile-wg/msg00902.html)

[2021-08-02 21:47] #42 closed

[2021-08-02 21:49] aeiras commented on #77
Hey you two, this ticket is 3 months. have we improve the data in the MPWG page?
What else is missing?

[2021-08-09 18:20] rstjames commented on #80
@emecas Sorry for the very late reply. I think I explained it wrong. We need a logo that is ONE color so white and blue ( "blue"could be any color) is just a background. We need this one color logo with no gradients or dots (paper curl) because if this logo was chosen it needs to be able to be printed on t-shirts which normally is a one color print.

This is an example of what I am referring to fo

[2021-08-10 23:16] emecas commented on #80
Thanks @rstjames for clarifying. Sincerely,  I like both, but if  I have to select one, then the first one

[2021-08-11 18:02] aeiras commented on #80
Cute, I also like the 1st one, Emerson! :)

[2021-08-11 21:01] Emily-Jiang commented on #80
I like the 2nd one :) as the folded corner is more visible.

[2021-08-19 14:55] emecas commented on #80
Following your latest indications @rstjames ( to be printed on t-shirts normally ) I have prepared this version:

![one-color-logo-Emerson-latest](https://user-images.githubusercontent.com/849502/130090600-09275825-7d27-4848-a841-28eee12a4897.png)

What do you think?

[2021-08-19 15:17] rstjames commented on #80
@emecas This will not work. The fold you have has many little dots. It will not work for a one-color print on t-shirts or smaller sizes.  That is why I made the example options the way I did.

If you want to rise your exact design please adjust the fold area.
![Screen Shot 2021-08-19 at 5 14 38 PM](https://user-images.githubusercontent.com/12132146/130094979-0fb7015b-ae44-4cc8-9911-c66a92a45140.pn

[2021-09-07 16:29] #95 closed

[2021-09-07 22:11] Emily-Jiang opened #97 "MicroProfile 4.1 Compatible Certification Request - Open Liberty 21.0.0.9"
- [x] Organization Name ("Organization") and, if applicable, URL:<br/>
IBM
- [x] Product Name, Version and download URL (if applicable):<br/>
[Open Liberty 21.0.0.9](https://public.dhe.ibm.com/ibmdl/export/pub/software/openliberty/runtime/release/2021-08-24_2341/openliberty-21.0.0.9.zip)
- [x] Specification Name, Version and download URL:<br/>
 MicroProfile 4.1
- [x] Public URL of TCK Results Summ

[2021-09-13 19:04] aeiras commented on #58
Hey Manish, @manish2aug

do you want to own the last piece of adjustments via "suggestive mode" in the document that deal with adding that MP chose the Implementation Patent?

Via this ticket or via the document, you are most welcomed to pull me in with Q&A. Thank you, Manish!

[2021-09-15 15:06] manish2aug commented on #58
Hi Amelia, @aeiras

Yes, I am up for it, just a bit out of context for some time. I Will go through the previous communications and would find out to ask relevant stuff if needed.

[2021-09-17 16:04] aeiras commented on #58
Hey Manish,

Welcome back to leading this task :) We adore you for it!

Now, there are 2 copies of the Guidelines, which is the one we are working on?  June 24th are the date for both documents: https://drive.google.com/drive/folders/1wbn8mUPTjQMpHYuzh1swwPCBnuS7rg3o

We must keep the one who has all the history of collaboration, OK.  You can move the unwanted copy to the Archives folder :)

This

[2021-09-27 14:59] radcortez opened #98 "MicroProfile 4.1 Compatible Certification Request - Quarkus MicroProfile 2.4.1.Final"
- [x] Organization Name ("Organization") and, if applicable, URL:<br/>
RedHat

- [x] Product Name, Version and download URL (if applicable):<br/>
Quarkus MicroProfile 2.4.1.Final (https://github.com/quarkiverse/quarkus-microprofile)

- [x] Specification Name, Version and download URL:<br/>
MicroProfile 4.1

- [x] Public URL of TCK Results Summary:<br/>
https://github.com/quarkiverse/quarkus-microp

[2021-10-09 01:14] aeiras opened #99 "2022 MPWG Program Plan"
Oct 2nd thread with call to action lands in the Community forum via John.

Program plan: https://docs.google.com/presentation/d/1jX1YfeOEN_k60voVj9CVGwT7yXvlF8NA/edit#slide=id.p1
Deadline: Candidate Program Plan Approved by Steering Committee (Due November 5, 2021)

Budget plan: https://docs.google.com/spreadsheets/d/100jj5LL0VLZIChrDmptFSRuCau5MKyCkW90QSlDEfW0/edit#gid=950497108

Deadline: Final

[2021-10-10 11:40] debbiehoffman commented on #92
Hi all,
 Just checking if this documentation has been added to the website yet? I did not see it here https://microprofile.io/contributors/ or under https://microprofile.io/resources/

[2021-10-11 22:02] aeiras commented on #92
wow, @debbiehoffman, you got the 1 item (add to the Resources page) missing back on track!!!!

Cesar committed a PR to the Contributors landing page linked in MP by Become a MicroProfiler By button.
[Become a MicroProfiler](https://github.com/eclipse/microprofile/blob/master/CONTRIBUTING.adoc)
With do a Pull Request guidelines:
![image](https://user-images.githubusercontent.com/10731224/136860639-

[2021-10-20 13:39] xstefank opened #100 "MicroProfile 4.1 Compatible Certification Request - WildFly 25.0.0.Final"
- [x] Organization Name ("Organization") and, if applicable, URL:<br/>
  [Red Hat](https://www.redhat.com/en)

- [x] Product Name, Version and download URL (if applicable):<br/>
  [WildFly 25.0.0.Final](https://github.com/wildfly/wildfly/releases/download/25.0.0.Final/wildfly-25.0.0.Final.zip)

- [x] Specification Name, Version and download URL:<br/>
   [MicroProfile 4.1](https://download.eclipse.

[2021-11-01 18:51] Emily-Jiang opened #101 "MicroProfile Config 3.0 Specification Review"
**Specification issue template**

When creating a specification project release review, create an issue in the [MicroProfile-WG repository](https://github.com/microprofile/microprofile-wg) repo with the content defined as follows.
- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-

[2021-11-02 10:11] Emily-Jiang opened #102 "MicroProfile Metrics 4.0 Specification Review"
**Specification issue template**

When creating a specification project release review, create an issue in the [MicroProfile-WG repository](https://github.com/microprofile/microprofile-wg) repo with the content defined as follows.
- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-

[2021-11-02 11:57] Emily-Jiang opened #103 "MicroProfile Fault Tolerance 4.0 Specification Review"
**Specification issue template**

When creating a specification project release review, create an issue in the [MicroProfile-WG repository](https://github.com/microprofile/microprofile-wg) repo with the content defined as follows.
- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-

[2021-11-02 15:41] xstefank opened #104 "MicroProfile Health 4.0 Specification Review"
- [x] Specification name and version
- [x] Add the label `Release Review`
- [ x Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-_project_-spec-_version_.pdf
   - [x] Specification HTML in the form of microprofile-_project_-spec-_version_.html
   - _project_ is the microprofile specification short project name (config, health, ...)
   - _version_ is the two

[2021-11-03 11:02] sberyozkin opened #105 "MicroProfile JWT RBAC 2.0 Specification Review"
- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-_project_-spec-_version_.pdf
   - [x] Specification HTML in the form of microprofile-_project_-spec-_version_.html
   - _project_ is the microprofile specification short project name (config, health, ...)
   - _version_ is the two

[2021-11-03 16:29] njr-11 opened #106 "MicroProfile Context Propagation 1.3 Specification Review"
**Specification issue template**

When creating a specification project release review, create an issue in the [MicroProfile-WG repository](https://github.com/microprofile/microprofile-wg) repo with the content defined as follows.

   * [x]  Specification name and version

   * [x]  Add the label `Release Review`

   * [x]  Naming conventions for artifacts:

      * [x]  Specification PDF in the f

[2021-11-08 13:06] radcortez commented on #101
I reviewed the release output and everything seems to be ok except for:

https://github.com/eclipse/microprofile-config/blob/71c1e87d1fc9468c221672fe5dff33f6f19e32b6/spec/src/main/asciidoc/license-efsl.adoc#L14

The copyright year for the specification is 2020, and the javadoc is 2021. Don't we need to update the copyright spec year to 2021 too so the spec and javadoc are consistent?

[2021-11-09 12:23] Emily-Jiang commented on #101
Thank you @radcortez for spotting the above issue. I emailed Wayne in Eclipse Foundation regarding whether I need to redo the release or doing a service release shortly after MP Config 3.0. Wayne said it is ok to be fixed in the service release.

It's really about degrees of goodness. It is far better for the date to be correct than incorrect.

That it is wrong for a short period of time is not a

[2021-11-09 16:07] radcortez commented on #101
Ok.

[2021-11-09 21:01] kwsutter commented on #101
Looks good, @Emily-Jiang!  Just a couple of minor nits on the CCR.  Thanks!

[2021-11-09 21:24] kwsutter commented on #102
Similar comment as https://github.com/microprofile/microprofile-wg/issues/101#issuecomment-964539972

The javadoc jar file contains the Apache license and the EFSL license, which are okay. But, it also contains the EF TCK license? That should not be part of the javadoc jar file. I don't think this update is a requirement for a respin, but the TCK license should be removed. Open an issue/pr to clea

[2021-11-09 21:31] kwsutter commented on #103
Similar comment as #101 (comment)

The javadoc jar file contains the Apache license and the EFSL license, which are okay. But, it also contains the EF TCK license? That should not be part of the javadoc jar file. I don't think this update is a requirement for a respin, but the TCK license should be removed. Open an issue/pr to clean this up after the release.

On a similar vein, the TCK Javadoc ja

[2021-11-09 21:34] kwsutter commented on #104
Similar comment as #101 (comment)

The javadoc jar file contains the Apache license and the EFSL license, which are okay. But, it also contains the EF TCK license? That should not be part of the javadoc jar file. I don't think this update is a requirement for a respin, but the TCK license should be removed. Open an issue/pr to clean this up after the release.

On a similar vein, the TCK Javadoc ja

[2021-11-09 22:10] radcortez commented on #101
This was done on purpose to simplify unpacking the resources. Basically, we have a single JAR with all the resources that are unpacked to the project, and then the proper license file is linked in the javadocs leaving the unused one in the project jar. This is the behavior added by the parent POM, so all projects will have this issue. It needs to be fixed there.

[2021-11-10 15:29] JanWesterkamp-iJUG commented on #101
I just fall about the date again too - good to know this could be handled in a bugfix release.

May be in the future this topic could be solved automatically and/or a unit test prevents this - could be an exerciese to be done in a component spec template project.
Another thing like that in the future would be change of the EFSL version and the potential reflected change of the organisation legal e

[2021-11-11 17:30] kwsutter commented on #105
A couple of comments...

- Same issue as the Config specification with the copyright in the EFSL (in the Spec documents) still stating 2020 (instead of 2021).
   _Copyright (c) 2016, 2020 Eclipse Foundation._
- I added a couple of comments to the CCR and TCK Results.
- There is **no** license in the API jar file.  This might be critical enough to force a respin...
- Again, I found the extra TCK li

[2021-11-11 17:38] kwsutter commented on #101
Okay...  Seems a bit odd since simply grabbing one of the jar files and unzipping it produces multiple License files.  A casual observer wouldn't know which to apply.  You mentioned that the problem "needs to be fixed there".  Can someone open an issue to get it resolved at the top-level project?  Thanks!

[2021-11-11 17:49] radcortez commented on #101
You are correct. When I was adding that, I only worried from the javadoc html perspective, so when browsing the javadocs it links to the correct license. No worries, I'll have a look into it.

[2021-11-11 17:52] kwsutter commented on #106
@njr-11, nice work!  The licenses in your deliverables are in very good shape (compared to the other recent MP reviews), but I found one missing -- there was **no** license in the tck javadoc jar file.   Not sure if this is a cause for a respin or not.  I would assume that official deliverables should have an embedded license somewhere.  This might be a question for the EMO.  Thanks.

[2021-11-11 19:25] njr-11 commented on #106
Kevin,
Thanks for spotting this.  I looked into whether tck javadoc jar is
published (it is) and then checked if the previous versions (1.2, 1.0)
contain a license. They also do not.

I'm copying the EMO email on this to please check on whether this requires
a respin or can be corrected in a future release.

From:   "Kevin Sutter" ***@***.***>
To:     "microprofile/microprofile-wg"
***@***.***>
Cc

[2021-11-12 16:50] waynebeaton commented on #106
Fix it so that it's right next time.

FWIW, a pedantic interpretation of the current state is that no rights are conveyed (reading and "fair use" quoting are fine).

In fact, the footers in the JavaDoc say "Copyright © 2021 Eclipse Foundation. **All rights reserved.**". Legally, the statement "All rights reserved" is meaningless because a work is nowadays automatically protected by copyright. Idea

[2021-11-12 16:50] njr-11 commented on #106
I answered on the issue.

Wayne

On Thu, Nov 11, 2021 at 2:25 PM Nathan Rauh ***@***.***> wrote:

--
*The Eclipse Management Organization |* Eclipse Foundation

[2021-11-12 22:56] njr-11 commented on #106
I have rebuilt the 1.3 Final release to include the license in the TCK JavaDoc jar.  The links above in the description are now updated to the new staging location.

[2021-11-17 01:36] aeiras commented on #85
[Uploading [microprofile-wg] [BALLOT] Replace MicroProfile Compatibility Logo with.pdf…]()

[2021-11-17 01:36] #85 closed

[2021-11-17 01:38] aeiras commented on #88
dropping as the MPWG won't use the compatibility program
[[microprofile-wg] [BALLOT] Replace MicroProfile Compatibility Logo with.pdf](https://github.com/microprofile/microprofile-wg/files/7551032/microprofile-wg.BALLOT.Replace.MicroProfile.Compatibility.Logo.with.pdf)

[2021-11-17 01:38] #88 closed

[2021-11-17 01:39] aeiras commented on #89
in place!

[2021-11-17 01:39] #89 closed

[2021-11-17 01:40] aeiras commented on #60
[[microprofile-wg] [BALLOT] Replace MicroProfile Compatibility Logo with.pdf](https://github.com/microprofile/microprofile-wg/files/7551039/microprofile-wg.BALLOT.Replace.MicroProfile.Compatibility.Logo.with.pdf)

MPWG drops the compatible program.

[2021-11-17 01:40] #60 closed

[2021-11-17 01:42] aeiras commented on #93
@paulbuck,

[[microprofile-wg] [BALLOT] Replace MicroProfile Compatibility Logo with.pdf](https://github.com/microprofile/microprofile-wg/files/7551052/microprofile-wg.BALLOT.Replace.MicroProfile.Compatibility.Logo.with.pdf)
Given the vote passing, what do we need to do to complete the Guidelines?

There is nothing missing from the side of MP.

Thanks for the follow up,

[2021-11-17 01:44] aeiras commented on #59
[[microprofile-wg] [BALLOT] Replace MicroProfile Compatibility Logo with.pdf](https://github.com/microprofile/microprofile-wg/files/7551063/microprofile-wg.BALLOT.Replace.MicroProfile.Compatibility.Logo.with.pdf)

[2021-11-17 01:44] #59 closed

[2021-11-17 01:44] #82 closed

[2021-11-17 01:46] aeiras commented on #99
Program plan went for a vote today with a 7 day ballot https://www.eclipse.org/lists/microprofile-wg/msg01171.html

[2021-11-17 01:48] aeiras commented on #77
many updates have been put into the MPWG https://microprofile.io/workinggroup/

Living improvements, submit a new git ticket for specific features that ought to be considered.

[2021-11-17 01:48] #77 closed

[2021-11-17 01:51] aeiras commented on #92
@rstjames,

Can you add to Resources  Cesar's contribution wiki on How to Create a PR - Learn ?

Thank you,

[2021-11-17 01:51] aeiras commented on #64
decided with
[[microprofile-wg] [BALLOT] Replace MicroProfile Compatibility Logo with.pdf](https://github.com/microprofile/microprofile-wg/files/7551097/microprofile-wg.BALLOT.Replace.MicroProfile.Compatibility.Logo.with.pdf)

[2021-11-17 01:51] #64 closed

[2021-11-17 01:52] aeiras commented on #61
[[microprofile-wg] [BALLOT] Replace MicroProfile Compatibility Logo with.pdf](https://github.com/microprofile/microprofile-wg/files/7551099/microprofile-wg.BALLOT.Replace.MicroProfile.Compatibility.Logo.with.pdf)

decided with ballot.

[2021-11-17 01:52] #61 closed

[2021-11-17 01:53] aeiras commented on #39
no longer necessary
[[microprofile-wg] [BALLOT] Replace MicroProfile Compatibility Logo with.pdf](https://github.com/microprofile/microprofile-wg/files/7551104/microprofile-wg.BALLOT.Replace.MicroProfile.Compatibility.Logo.with.pdf)

[2021-11-17 01:53] #39 closed

[2021-11-17 01:55] aeiras commented on #32
This ticket is very general.

The Program Plan 2022 has identified specific goals that need to be imported here. :)  closing it.

[2021-11-17 01:55] #32 closed

[2021-11-17 01:56] aeiras commented on #22
completed. https://microprofile.io/microprofile-specification-process/

[2021-11-17 01:56] #22 closed

[2021-11-17 01:57] #41 closed

[2021-11-17 01:57] #40 closed

[2021-11-17 02:02] aeiras commented on #76
on going. it is better for communities to create their own tickets and add tracing.

[2021-11-17 02:02] #76 closed

[2021-11-17 02:04] aeiras commented on #81
MP can choose a TCK compatible logo based on the submissions but not as part of the trademark program.
[[microprofile-wg] [BALLOT] Replace MicroProfile Compatibility Logo with.pdf](https://github.com/microprofile/microprofile-wg/files/7551142/microprofile-wg.BALLOT.Replace.MicroProfile.Compatibility.Logo.with.pdf)

[2021-11-17 02:04] #81 closed

[2021-11-17 02:05] aeiras commented on #80
MP can choose a TCK compatible logo based on the submissions but not as part of the trademark program.
[[microprofile-wg] [BALLOT] Replace MicroProfile Compatibility Logo with.pdf](https://github.com/microprofile/microprofile-wg/files/7551145/microprofile-wg.BALLOT.Replace.MicroProfile.Compatibility.Logo.with.pdf)

[2021-11-17 02:05] #80 closed

[2021-11-17 02:06] aeiras commented on #78
MP can choose a TCK compatible logo based on the submissions but not as part of the trademark program.
[[microprofile-wg] [BALLOT] Replace MicroProfile Compatibility Logo with.pdf](https://github.com/microprofile/microprofile-wg/files/7551150/microprofile-wg.BALLOT.Replace.MicroProfile.Compatibility.Logo.with.pdf)

[2021-11-17 02:06] #78 closed

[2021-11-17 02:08] aeiras commented on #45
Completed. It will be imported into the Website.
It has been integrated into the MP Trademark Guidelines.

@rstjames please see ticket 612. Thanks!

[2021-11-17 02:08] #45 closed

[2021-11-17 05:51] starksm64 opened #107 "Community driven compatibility branding concept"
In discussing possible community branding strategies with Red Hat legal, it was suggested that the branding program be based on a new community driven brand that does not reference the MicroProfile trademarked name or logo.

Rather, a new freely available and community developed logo and name need to be developed. The compatible TCK implementations page would introduce this new branding and logo,

[2021-11-17 15:20] radcortez commented on #105
Fixed

Fixed

Fixed

[2021-11-17 19:49] aeiras opened #108 "[Infra Request] Move folders from External drive"
Hi @eclipsewebmaster Team,

Can you please help us?

We need to export 3 folders from the MPWG (External) Minutes
https://drive.google.com/drive/folders/1k8qqilvf0_QgRhE8EcKLYTqfC2VH5s29

to

the MP Community Drive Minutes
https://drive.google.com/drive/u/0/folders/0B8_67yGf9LkLZUhOMEFTRWx2TDQ?resourcekey=0-sr7rbZujLQzCbLW1BF9vCg

Thank you in advance for your help,

[2021-11-17 19:57] aeiras commented on #108
The EF is the owner of the 2 drives, @eclipsewebmaster. There should be no issue with transfer.

[2021-11-17 20:05] rstjames commented on #92
@aeiras on the dropdown menu? or on the WG page tabs?

[2021-11-17 20:28] aeiras commented on #107
Hola @starksm64,

100% correct. The TCK new logo must not use the MP mark. It ought to use the MP colors, font, etc as listed in the MP Brand Manual.

The Brand Book we created this summer, thanks to Ryan & everyone who provided feedback is  https://drive.google.com/drive/u/0/folders/1zXwNllUjw3ftjsNdUVE7shmLe9UOuErc & website as well. :) it  shows stuff relevant to the registered Mark plus the ht

[2021-11-17 20:31] rstjames commented on #92
Updated

[2021-11-17 20:31] #92 closed

[2021-11-18 14:04] kwsutter commented on #106
All looks goo now.  Thanks, @njr-11!  I have just voted +1.

[2021-11-18 22:05] Emily-Jiang opened #109 "MicroProfile Rest Client 3.0 Specification Review"
**Specification issue template**

When creating a specification project release review, create an issue in the [MicroProfile-WG repository](https://github.com/microprofile/microprofile-wg) repo with the content defined as follows.
- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-

[2021-11-18 22:43] Emily-Jiang opened #110 "MicroProfile OpenAPI 3.0 Specification Review"
**Specification issue template**

When creating a specification project release review, create an issue in the [MicroProfile-WG repository](https://github.com/microprofile/microprofile-wg) repo with the content defined as follows.
- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-

[2021-11-18 23:16] Emily-Jiang opened #111 "MicroProfile OpenTracing 3.0 Specification Review"
**Specification issue template**

When creating a specification project release review, create an issue in the [MicroProfile-WG repository](https://github.com/microprofile/microprofile-wg) repo with the content defined as follows.
- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-

[2021-11-22 16:32] Emily-Jiang opened #112 "MicroProfile 5.0 Specification Review"
- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-_project_-spec-_version_.pdf
   - [x] Specification HTML in the form of microprofile-_project_-spec-_version_.html
   - _project_ is the microprofile specification short project name (config, health, ...)
   - _version_ is the two

[2021-11-22 19:03] TetianaFTV commented on #99
Approved https://www.eclipse.org/lists/microprofile-wg/msg01171.html

[2021-11-22 19:03] #99 closed

[2021-11-22 21:05] SharonCorbett commented on #108
Webmaster:  I believe I have successfully shared the second drive with you.  Can you please confirm the Eclipse Foundation is an owner as it is only shared with me.

Thanks,
Sharon

[2021-11-22 22:50] #104 closed

[2021-11-22 22:50] #103 closed

[2021-11-22 22:50] #102 closed

[2021-11-22 22:50] #101 closed

[2021-11-23 21:47] eclipsewebmaster commented on #108
I can see the drive that @SharonCorbett shared, however I don't have admin permissions on it which certainly prevents Webmaster from acting as the 'owner-of-last-resort'.

Also AFACT this drive isn't actually owned or operated by the Eclipse Foundation.  The drive is owned by microprofilemarketing at gmail dot com ( I have no records of creating this account), which appears to have set their user

[2021-11-23 22:21] aeiras commented on #108
Thank you, Sharon and Webmaster for your help on this.

![image](https://user-images.githubusercontent.com/10731224/143137888-acd10fdd-a345-49ac-b0b1-e054ad2fe3f8.png)

The MP community drive's ownership was transferred to the EF January 2017.  Sharon, do you have manager or ownership access to the
microprofilemarketing@gmail.com?   Maybe, we will have to do the same we did with the other account,

[2021-11-23 22:37] aeiras opened #113 "[MP Calendar Update] During the End of the Year Holiday"
On Today's community call (11/23) it was discussed and agreed that the MP calendar will be adjusted as follows:
https://calendar.google.com/calendar/u/0/embed?src=gbnbc373ga40n0tvbl88nkc3r4@group.calendar.google.com&ctz=America/Los_Angeles

 Last 2021 MP call will be completed on December 17th
 First 2022 MP call will start on January 3rd.

 **tasks Completed**
remove from the calendar:
MP OpenTel

[2021-11-23 22:38] aeiras commented on #113
@Emily-Jiang,

Once you are done with the clean, do you mind sending to the MP Community forum this ticket with the brief update?

Thanks lots,

[2021-11-24 19:44] aeiras commented on #107
Thank you, Paul on follow up via the MPWG forum on this matter.
Link of EMO message: https://www.eclipse.org/lists/microprofile-wg/msg01252.html

Copy/paste:

Given the passage of the resolution:

RESOLVED, the Steering Committee confirms that the MicroProfile working group will operate without a MicroProfile compatibility program and will not develop and utilize a Compatibility logo for use by co

[2021-11-30 10:55] radcortez commented on #110
I think we need to reroll this release.

This is still using the old MP Parent version and the TCK javadocs are using the EF Spec License and not the TCK License.

[2021-12-02 14:46] JanWesterkamp-iJUG commented on #110
On the title page of the spec documents there is the role of the Spec Lead added to the author's name: Arthur De Magalhaes (Spec Lead)

May be we should remove this (in the next release) as it does not reflect the current status of this role - Emily creates this version ;-)

This is by the way the only spec, where it's done this way...

[2021-12-02 22:56] #105 closed

[2021-12-02 23:19] Emily-Jiang commented on #110
@JanWesterkamp-iJUG yes, I will do a service release to remove that wording (Spec Lead). The wording was there since the very beginning.

[2021-12-05 17:55] JanWesterkamp-iJUG commented on #112
The included spec list is formatted differntly (as code instead of a list of links), somehow doubled and contains typos:

https://github.com/eclipse/microprofile/blob/master/spec/src/main/asciidoc/architecture.asciidoc

Typos:
Open API -> OpenAPI (the spec repo name itself has that problem too !)
Open Tracing -> OpenTracing

JWT RBAC is the spec name, but the i.e. repo is named microprofile-jwt-au

[2021-12-05 18:18] JanWesterkamp-iJUG commented on #112
The spec document contains an error in the following part:

MicroProfile Rest Client 3.0
MicroProfile  Rest  Client  provides  a  type-safe  approach  for  invoking  RESTful  services  over  HTTP.
The MicroProfile Rest Client builds upon the JAX-RS 2.1 APIs for consistency and ease-of-use.

The JAX-RS 2.1 APIs reference link is outdated because of the change to Jakarta RESTful Web Services!

Shoul

[2021-12-05 18:18] rdebusscher commented on #107
Does this mean there is another brand (name) that is owned by a company and not a vendor-neutral organization?

Not to mention the additional confusion in the community as there will be 4 brands/names (Jakarta, MicroProfile, CN4J, and Nimbus - or whatever will be chosen) instead of just 1 brand/name that will show our unity.

[2021-12-06 02:35] starksm64 commented on #107
It would be a public domain community brand ala Java Duke, not specific to any company.

[2021-12-06 17:44] #111 closed

[2021-12-06 17:48] #109 closed

[2021-12-06 17:49] #106 closed

[2021-12-06 17:58] ederks85 commented on #112
@JanWesterkamp-iJUG your comments are duly noted. We will fix these in the next iterations of MicroProfile

[2021-12-06 19:01] JanWesterkamp-iJUG commented on #112
@ederks85 While I value quality about quantity, having the release to the intended date (soon) in this case might be ok. This decision gives some time to create the PRs ;-)

[2021-12-06 22:17] #58 closed

[2021-12-07 13:11] #110 closed

[2021-12-07 13:11] #112 closed

[2021-12-14 15:19] andymc12 commented on #84
Released in June.

[2021-12-14 15:19] #84 closed

[2021-12-15 11:52] Emily-Jiang commented on #113
@aeiras I am revisiting this ticket to double check the calendar entries. I noticed the marketing call on 3rd Jan is not on MP calendar. Was it deleted by mistak as I thought we agreed we will start the calls on 3rd Jan. Do you want me or yourself to recreate the calendar entry. By the way, the zoom account still has this meeting scheduled.

[2021-12-15 15:14] aeiras commented on #113
Días Emily,
The first meeting is on the 17th. Community call on the 18th.
there is nothing to talk on the 3rd. Too soon as many are still away. We always need at least a full week to catch up on stuff before community calls.
that’s why the community call is not on the 4th.

in my view no mp calls should happen he first week of January.

[2021-12-15 15:55] Emily-Jiang commented on #113
@aeiras I think that was not we agreed in the last call though. Please see what you put in this ticket [here](https://github.com/microprofile/microprofile-wg/issues/113#issue-1061780274).

[2021-12-15 16:21] aeiras commented on #113
You are so fantastic, Emily.

Thank you for checking this stuff. I like when you and I collaborate. :)

Ok, so the 2 calls that ought to happen that first week are:

1. GraphQL - b/c it is monthly and should not be skipped
2. Technical - MP wishes to release innovation in a Feb release. As such, the priority as 2022 starts is to tackle whatever needs to be talked that has not been resolved via git

[2021-12-16 23:34] Emily-Jiang commented on #113
@aeiras it is ok to cancel marketing call on Monday. I was just checking to see whether there was a misunderstanding. As for 4th Jan, I think we will just meet on that day. We will need to discuss the 2022 releases and new specification ideas, perhaps start some retrospective. The call will be recorded. I prefer to keep it community call as in this way, it does not mess up the every other-week mee

[2021-12-16 23:51] Emily-Jiang commented on #113
I have cancelled the marketing call from zoom and sent an email regarding the meeting cancellation to the googlegroup.

[2021-12-16 23:51] #113 closed

[2021-12-16 23:56] aeiras commented on #113
Hola Emily,
Please connect with John ( currently John is the sole Chair for MP Stewarding the Community & Steering calls) on bring the Community call to the 4th.
In january, our community will need to select a MicroProfile to help John with the task as Kevin is no longer available. :(
Summers (AJUG) volunteered early in 2021 to help with Stewering Community and Steering calls.
Either Summers or Ed

[2022-01-10 23:29] Emily-Jiang opened #114 "MicroProfile Telemetry Creation Review"
### Background
MicroProfile OpenTracing was based on OpenTracing, which was discontinued. OpenTelemetry is the replacement for OpenTracing. Therefore, MicroProfile needs to adopt OpenTelemetry so that the MicroProfile applications can work with the new Tracer providers.
### Scope
MicroProfile Telemetry will focus on Tracing first. In the future releases, it might adopt loging, metrics.
### Descrip

[2022-01-11 19:39] radcortez commented on #29
OpenTelemetry Adoption Proposal:

https://github.com/eclipse/microprofile-sandbox/blob/master/proposals/open-telemetry/microprofile-opentelemetry-tracing.asciidoc

[2022-01-11 19:54] radcortez commented on #29
https://github.com/microprofile/microprofile-wg/issues/114

[2022-01-11 20:00] radcortez commented on #33
To be done in Jakarta.

[2022-01-11 20:00] #33 closed

[2022-01-13 15:51] radcortez commented on #29
How to move forward regarding OpenTracing in the platform?
- When to deprecate it?
- When to remove it?
- When to replace it with OpenTelemetry?

[2022-01-13 16:14] radcortez commented on #30
The current proposal is to create a new specification that would allow using Micrometer as an implementation.

[2022-01-13 16:16] radcortez commented on #31
The plan is to push some of the https://github.com/smallrye/smallrye-converters ideas to the MP Sandbox.

[2022-01-13 16:17] radcortez commented on #32
Jakarta alignment was released with MP 5.0.

[2022-01-13 17:00] Emily-Jiang commented on #29
@radcortez here is what I suggest:

When we release MicroProfile OpenTelemetry 1.0, we will deprecate MicroProfile OpenTracing(hopefully in 1Q).

I don't think we should remove it from MicroProfile. I think we just remove it from MicroProfile platform release and make it standalone.

In July 2022, we should replace OpenTracing with OpenTelemetry.

[2022-01-18 21:31] Emily-Jiang opened #115 "MicroProfile 5.0 Compatible Certification Request - Open Liberty 22.0.0.1"
- [x] Organization Name ("Organization") and, if applicable, URL:<br/>
IBM
- [x] Product Name, Version and download URL (if applicable):<br/>
[Open Liberty 22.0.0.1](https://repo1.maven.org/maven2/io/openliberty/openliberty-runtime/22.0.0.1/openliberty-runtime-22.0.0.1.zip)
- [x] Specification Name, Version and download URL:<br/>
 MicroProfile 5.0
- [x] Public URL of TCK Results Summary:<br/>
[Mic

[2022-01-24 07:48] xstefank opened #116 "MicroProfile 5.0 Compatible Certification Request - WildFly Preview 26.0.0.Final"
- [x] Organization Name ("Organization") and, if applicable, URL:<br/>
  [Red Hat](https://www.redhat.com/en)

- [x] Product Name, Version and download URL (if applicable):<br/>
  [WildFly Preview 26.0.0.Final](https://github.com/wildfly/wildfly/releases/download/26.0.0.Final/wildfly-preview-26.0.0.Final.zip)

- [x] Specification Name, Version and download URL:<br/>
   [MicroProfile 5.0](https://d

[2022-01-25 12:14] Emily-Jiang commented on #107
Paul commented on the microprofile-wg mailing list
_The Steering Committee explicitly said that they were not going to create a compatibility program or logo. The proposal you reference in the issue is out of bounds because it violates both the letter and spirit of the resolution that was adopted by the Steering Committee._

According to @paulbuck , IIUC, this ticket is not valid. Please confirm.

[2022-01-25 14:45] starksm64 commented on #107
I don't see how the decision to not create a cost based program with trademarks, etc. translates to the community cannot create a public domain branding program. Bring this up on a steering committee call.

[2022-01-25 19:01] Emily-Jiang commented on #30
I think it is to update the current MP Metrics to allow using Micrometer as an implementation.

[2022-01-25 19:16] Emily-Jiang commented on #35
Should we move to Java 11 from API compilation level?
Java 11 or Java 17. I'll discuss on google group mailinglist.

[2022-01-25 19:32] Emily-Jiang commented on #34
I will follow up with these 2 issuses.

[2022-01-25 19:32] #34 closed

[2022-01-25 19:34] Emily-Jiang commented on #31
Reberto will start with sandbox. John might discuss this under CN4J call.

[2022-01-31 04:51] bacehanural opened #117 "MicroProfile 4.1 Compatible Certification Request - Payara Community 5.2021.10"
- [ ] Organization Name ("Organization") and, if applicable, URL:<br/>

[Payara Services Ltd.](https://www.payara.fish/)

- [ ] Product Name, Version and download URL (if applicable):<br/>

[Payara Platform Community 5.2021.10 Release](https://www.payara.fish/downloads/payara-platform-community-edition/)

- [ ] Specification Name, Version and download URL:<br/>

MicroProfile 4.1

- [ ] Public URL

[2022-01-31 20:28] paulbuck commented on #107
The Steering Committee's resolution stated "...the MicroProfile working group will operate without a MicroProfile compatibility program and will not develop and utilize a Compatibility logo...". This is unambiguously against the notion of creating any compatibility program or logo whether public domain or not. Reversing this decision would require the Steering Committee to choose to revise their p

[2022-02-02 01:24] SharonCorbett commented on #45
Please open a new Issue to request the Eclipse Foundation Marketing Team review and approve the Guidelines.

This will need to be updated to the Eclipse Foundation artwork page in compliance with the Eclipse Foundation Trademark Policy upon the Eclipse Marketing Team's approval.

Regards,
Sharon

cc @paulbuck

[2022-02-03 16:15] riferrei commented on #114
I loved this initiative and would help provide support for it.

[2022-02-08 14:31] JanWesterkamp-iJUG commented on #29
Agree to Emily's points.
Regarding replacement there would be an option to keep OpenTracing as optional spec with functionality based on the OpenTelemetry shim - so we could keep compatibility for a while until we remove it completely. Of course, this would require extra resources, but might align better with OpenTelemetry use at the same time.

[2022-02-15 09:44] Emily-Jiang opened #122 "Grant write access to Working group memebers"
If you are a working group memeber (WG rep) and you want write access for this repo, please add a comment with your github id so that you can be granted with write access.

[2022-02-15 17:05] kazumura commented on #122
please add @kazumura

[2022-02-17 09:38] Emily-Jiang opened #125 "TCK further discussion"
Comments from @edbratt regarding the current TCK process:

### Packaging requirements:
Jakarta EE is struggling with the requirement that forcing the ancillary (supporting documentation, guides, coverage, and assertion documents) into the TCK binary is problematic for publication to central repositories such as Maven central. We are currently working on an effort to update the packaging aspect of

[2022-02-17 09:40] Emily-Jiang commented on #125
Further comments for @JanWesterkamp-iJUG
Additionally, following Ed's concerns I think we should wait for the results of the ongoing discussions in Jakarta EE which might affect us in MicroProfile too.
Even when there are significant differences as we have one version and one namespace for all relevant artefacts (spec document, API, TCK) of a component spec and they all stored in Maven already.

T

[2022-02-28 22:59] Emily-Jiang commented on #117
We have standardised the TCK process. [Here](https://github.com/microprofile/microprofile-wg/blob/main/tckprocess.adoc#filing-a-certification-request) is the certification process. Please follow the process and move this issue to dedicated repo, which will kick off the approval process automatically.

[2022-02-28 23:00] Emily-Jiang commented on #116
@xstefank We have standardised the TCK process. [Here](https://github.com/microprofile/microprofile-wg/blob/main/tckprocess.adoc#filing-a-certification-request) is the certification process. Please follow the process and move this issue to dedicated repo, which will kick off the approval process automatically.

[2022-02-28 23:00] Emily-Jiang commented on #100
We have standardised the TCK process. [Here](https://github.com/microprofile/microprofile-wg/blob/main/tckprocess.adoc#filing-a-certification-request) is the certification process. Please follow the process and move this issue to dedicated repo, which will kick off the approval process automatically.

[2022-02-28 23:00] Emily-Jiang commented on #98
@radcortez We have standardised the TCK process. [Here](https://github.com/microprofile/microprofile-wg/blob/main/tckprocess.adoc#filing-a-certification-request) is the certification process. Please follow the process and move this issue to dedicated repo, which will kick off the approval process automatically.

[2022-03-04 16:57] #98 closed

[2022-03-21 21:57] Emily-Jiang opened #127 "MicroProfile GraphQL 2.0 Specification Review"
**Specification issue template**

When creating a specification project release review, create an issue in the [MicroProfile-WG repository](https://github.com/microprofile/microprofile-wg) repo with the content defined as follows.
- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-

[2022-03-22 18:00] Emily-Jiang opened #128 "[Technical goals] Adopt jakarta.* (from javax.*) namespace across assets"
Adopt jakarta.* (from javax.*) namespace across assets

[2022-04-01 13:50] radcortez commented on #127
A few comments:

- The TCK Jar is linking to the wrong file
- The Compatible Certification Request references GraphQL `2.0-RC3 and not `2.0`.
- The `master` branch is not updated with the `2.0` release.

These should be resolved before moving the release forward.

[2022-04-01 22:07] Emily-Jiang commented on #127
fixed

fixed

I don't believe this is the requirement for this ballot. This 2.0 release was created off `EE9` branch. The GraphQL team can decide whether to create another branch for future releases. The `master` branch might be used for other purpose. If they want to use `master` for future releases, the changes from EE9 would be merged to `master` branch.

[2022-04-04 11:02] radcortez commented on #127
The issue https://github.com/eclipse/microprofile-graphql/issues/435 still links to:

https://openliberty.io/certifications/microprofile/graphql/2.0/22.0.0.4-beta-Java8-TCKResults.html
https://openliberty.io/certifications/microprofile/graphql/2.0/22.0.0.4-beta-Java11-TCKResults.html
https://openliberty.io/certifications/microprofile/graphql/2.0/22.0.0.4-beta-Java17-TCKResults.html

Which refers [

[2022-04-04 12:54] Emily-Jiang commented on #127
The CCR has been using RCx. Not sure what your comments are. The CCR link points to 2.0-RC3 and now I have updated the wording to mention 2.0-RC3. Is this what you meant.

Let me clarify this. The ballot is to verify whether the artifacts we put up on the staging are good to be released. Reviewing the current project progress is good but not mandatory. If any issues are found, they should be noted

[2022-04-05 03:05] dblevins commented on #127
What we've documented is that a certification request must be made against the final TCK.  To ensure the final TCK was used and not a snapshot or previous release, the SHA-256 hash of the TCK binary must be mentioned in the certification request:

 - https://github.com/microprofile/microprofile-wg/blob/main/tckprocess.adoc#filing-a-certification-request

I'm not aware of any requirements as to wha

[2022-04-05 09:25] radcortez commented on #127
Exactly. In the linked CCR the referenced MicroProfile GraphQL version is `2.0-RC3`, so that is why I've asked for additional clarification.

I'm not totally sure if I agree. We don't have signature tests in the MP TCK's. I know that it may be a long shot, but what if the shipped APIs are changed in such a way that may affect the TCK's run and provide erroneous results?

[2022-04-05 10:38] Emily-Jiang commented on #127
When I read the TCK process, it did not occur to me that the TCK jars for CCR must be the Final one. In that paragraph, it did not mention the Final TCK wording etc. Since in the past, we used the identical RC with the final TCK for TCK result, I thought we are using the same process. Hence the confusion. I think we should discuss in the technical call to see whether we have to use the final TCK j

[2022-04-05 12:25] radcortez commented on #127
In SmallRye CCR's we always used the final original artifacts from the MP release (both APIs and TCKs). In the past, we didn't want to release such SmallRye binaries because they would keep a reference to a temporary repository (the staging repo), but it was required by the WG: https://github.com/microprofile/microprofile-wg/issues/9#issuecomment-737253375

[2022-04-05 16:11] Emily-Jiang commented on #127
We discussed this chicken and egg situation and then decided to use RC to release the final spec. I think Kevin meant is to say the impl release needs to be made to public, such as Open Liberty beta driver, which is in maven central.

[2022-04-05 16:52] Emily-Jiang commented on #127
@JanWesterkamp-iJUG please read [this](https://groups.google.com/g/microprofile/c/6v65mBjIXiQ/m/OfM9bLmTBAAJ) thread to understand the concerns.

[2022-04-26 18:47] dblevins opened #130 "Create Wikipedia page for MicroProfile"
Should have a history of its creation along with a list of releases.

[2022-05-10 05:45] jclingan opened #131 "Deliver three MicroProfile releases"

[2022-05-10 05:46] jclingan opened #132 "Create a MicroProfile Champions Program"
Create the MicroProfile Champions program to support/reward individuals and organizations educating, contributing, and pushing MicroProfile forward

[2022-05-10 05:49] jclingan opened #133 "Create and track KPIs on open meetings"
Create and track KPIs on open meetings, open communication, and meeting recording process

[2022-05-10 05:50] jclingan opened #134 "Convert Groovy-based project pages to Github pages"

[2022-05-10 05:52] jclingan opened #135 "Adopt jakarta.* (from javax.*) namespace across assets"

[2022-05-10 05:53] jclingan opened #136 "Review EFSP 1.3 and reconcile with MPSP 1.0"

[2022-05-10 14:54] jclingan opened #137 "Continue Jakarta EE collaboration through CN4J Alliance"

[2022-05-10 15:02] jclingan opened #138 "Strengthen the MicroProfile brand"

[2022-05-10 15:28] jclingan opened #139 "Grow the number of compatible MicroProfile implementations"

[2022-05-10 15:29] jclingan opened #140 "Encourage more innovation with new specifications"

[2022-05-10 15:30] jclingan opened #141 "Increase the number of MicroProfile Working Group members, Committers, and Opportunities for participation"

[2022-05-10 15:31] jclingan opened #142 "Maintain and grow community participation in Marketing"

[2022-05-10 15:32] jclingan opened #143 "Perform quarterly review of 2022 program plan progress"

[2022-05-10 15:33] jclingan opened #144 "Formalize role and potential support for Committer Representative"

[2022-05-10 15:35] jclingan opened #145 "Individual component specification pages (see Jakarta specification pages for reference)"

[2022-05-10 15:38] jclingan opened #146 "Central location for promoting blogs, videos, products, etc that consume MicroProfile (highlight community content?)"

[2022-05-10 15:40] jclingan opened #147 "Empower the community with easily sharing their input via surveys and questionnaires"

[2022-05-10 15:41] jclingan opened #148 "Create a page with compatible implementations"

[2022-05-10 15:42] jclingan opened #149 "Continue to encourage participation across the wider community via mailing list, google group, and tweets."

[2022-05-10 15:43] jclingan opened #150 "Define and track metrics on community outreach"

[2022-05-10 15:44] jclingan opened #151 "Grow MicroProfile community"

[2022-05-10 15:45] jclingan opened #152 "Increase community participation"
- [ ] Create new or adopt existing content and approaches to facilitate first-time community contributions

- [ ] Encourage individual component participation at the Specification level.  Many components have their own “hangout” --  need to advertise these wider

[2022-05-10 15:46] jclingan opened #153 "Evaluate Program Plan translations (Localization) ex. Spanish"

[2022-05-10 15:47] jclingan opened #154 "Increase specification metadata in website; versions, links to PDFs"

[2022-05-10 15:48] jclingan opened #155 "Collect external getting started guides, examples, into one dedicated section"

[2022-05-10 15:49] jclingan opened #156 "Greatly increase technical content available on website as a whole"
More code on pages

[2022-05-10 15:51] jclingan opened #157 "Align MicroProfile standalone specifications to Jakarta EE 9.1 (namespace)"

[2022-05-10 15:54] jclingan opened #158 "Evaluate new specifications"

[2022-05-10 16:36] jclingan opened #159 "Evaluate standalone specifications"
- Remain standalone (ex: Reactive specs)
- Join platform spec (ex: GraphQL)
- Move to Jakarta (ex: Context Propagation)

[2022-05-10 16:37] jclingan opened #160 "Evaluate adoption of Jakarta Core Profile"

[2022-05-10 16:37] jclingan opened #161 "Adoption of existing Jakarta EE specs"
To be considered: Bean Validation inclusion in existing MicroProfile specifications (ex: OpenAPI, JWT)

[2022-05-10 16:38] jclingan opened #162 "Consider data access specification"

[2022-05-10 16:39] jclingan opened #163 "Improve alignment with platforms and infrastructure for better end-user experience"
- Runtimes (JVM, MicroProfile Impl), evaluate moving code source to Java 11+
- Containers, Orchestrators, Clouds etc

[2022-05-24 14:57] #114 closed

[2022-05-24 19:43] #38 closed

[2022-05-24 19:43] #43 closed

[2022-05-24 19:44] #74 closed

[2022-05-24 19:44] #75 closed

[2022-06-14 18:52] Emily-Jiang commented on #29
The next step is to add a note on readme and spec update on open tracing. A configuration should also be provided to disable open tracing. A minor spec update should be released.

[2022-06-14 19:28] JanWesterkamp-iJUG opened #164 "Dependency Management"
This Issue is for the discussion on Debendency Issues, which will be held on the Email-List microprofile-wg mainly, but here I will share the presentation according to the discussion to get easier understanding of problematic situations and how we might prevent them.

I will try to update the slides from time to catch the discussion state and highlight topics.
[Dependency Issues 20220614 01.pdf](h

[2022-06-14 20:52] cesarhernandezgt commented on #65
The pages that uses the Groovy-based setup are the following:
- /contributors:
- /projects:
- project/eclipse:

As of today, the status for each page is:

- /contributors: 97% done. The Release to production currently depends on project admins task:
  - https://github.com/microprofile/microprofile-site/issues/109
  - https://github.com/microprofile/microprofile-site/issues/110
  - https://github.c

[2022-06-14 22:22] Emily-Jiang commented on #162
Since [Jakarta Data](https://projects.eclipse.org/proposals/jakarta-data) has been proposed in Jakarta EE community, it is better to collaborate with that spec group instead of creating another flavour of the spec, which will cause confusion.

[2022-06-14 22:22] #162 closed, assigned to ederks85, radcortez, Emily-Jiang

[2022-06-17 21:24] aeiras commented on #153
Hola @emecas, espero estes divino!!!

Look, last Tuesday during the Steering committee, we went through the program plan and the need to assign diverse tickets to MicroProfilers.

You have been the leader on this project and are the best equipped to provide a general update on links with work done, etc.  Can you own it?  Questions, shoot. Thank you for being amazing!

[2022-06-17 21:33] aeiras commented on #70
@dblevins what is this task about?

[2022-06-17 22:14] aeiras commented on #138
**Documentation** completed

1. Committer Representative Wiki is available to provide support to the chosen MicroProfiler who votes and represents formally the community and the committers.
2. New MPWG Members have the support on navigating onboarding into MP via [MicroProfile Working Group: Members Onboarding](https://github.com/microprofile/microprofile-wg/wiki/MicroProfile-Working-Group:--Membe

[2022-06-18 20:34] emecas commented on #153
Thank you @aeiras , I was there I could not add my name to the agenda because document is only-view access.

Sure, I can, I am wondering if there is anything else to do or report on that regard, since program plan for 2022 was  translated long time ago as well as MP 5.0 announcement.

Anyways, these are the links, in general, I can recall as related to the subject

### Localization-Spanish :

-  [

[2022-06-20 20:35] donbourne commented on #30
In MP Metrics we're making changes so that you could implement the MP Metrics API with your choice of concrete implementation.  We're ensuring that this could be implemented with Micrometer, but intend for it to be possible to implement with other metrics APIs.

Here's a look at what we've been focused on:

MP METRICS 5.0 UPDATE SUMMARY

    - added concept of custom scopes for metrics
        - a

[2022-06-20 20:49] aeiras commented on #153
Hola @emecas, you are amazing!

Next time, please speak up so that your name is always added if you are present for MPWG Steering Calls.
When John sends the minutes for community review, I suggest you ask him to add you to the minutes. :) Using your feedback, next time I will add everyone's in the community to the minutes b/c the document provides no access for editing to regular MicroProfilers (S

[2022-06-28 18:23] cesarhernandezgt commented on #65
Status:

**Done:**
/contributors and /projects page is now fully migrated:
https://microprofile.io/contributors/
https://microprofile.io/projects/

Both pages uses Github pages respectively instead of ec2 endpoint:
https://microprofile.github.io/microprofile-site/contributors/
https://microprofile.github.io/microprofile-site/projects/

**ToDo**
- Migration for each specific `project/eclipse`
- Uni

[2022-06-28 18:36] aeiras commented on #65
Amazing work, @cesarhernandezgt and all involved!!!

Under Project's page, I noticed 2 things:

1.  that not all Repositories are listed. MP has 27 repos.  Why is that?  Ideally, the new page updates automatically and lists today's active repos and future ones without Human intervention.   Scalability ought to be the it.  If updating it needs a human, we need to understand why.
2. is there a way t

[2022-07-05 16:59] jclingan commented on #136
Discussion thread [here](https://groups.google.com/g/microprofile/c/nrhqLzboq5E).

[2022-07-05 18:42] jclingan commented on #136
Edwin has created a google doc for modifications [here](https://docs.google.com/document/d/1anTlBMyqMbEnRvC8Pz1pAo17Cejy4qUK9ZPbP7NDk8s/edit).

[2022-07-27 22:25] cesarhernandezgt commented on #65
Hi @aeiras , replying inline:

Before and after migration, the source of truth for the list of repositories was and is managed via a property file on Github. Currently, this is the file: https://github.com/microprofile/microprofile-site/blob/master/src/main/resources/META-INF/microprofile-config.properties#L18-L41  if there are missing projects, we are just one Pull Request away from adding this i

[2022-08-11 20:29] aeiras commented on #65
Great stuff, Cesar. Thank you for the update.

[2022-08-30 17:37] jclingan commented on #158
MicroProfile Telemetry is [in progress](https://github.com/eclipse/microprofile-telemetry).

[2022-08-30 17:40] jclingan commented on #141
Microsoft has [joined](https://azure.microsoft.com/en-us/blog/microsoft-joins-jakarta-ee-and-microprofile-working-groups-at-eclipse-foundation/) the MicroProfile Working Group

[2022-08-30 17:43] jclingan commented on #160
The [Jakarta EE Core Profile 10](https://jakarta.ee/specifications/coreprofile/10/) support is planned for MicroProfile 6.0

[2022-08-31 21:35] Emily-Jiang opened #172 "MicroProfile Reactive Streams Operator 3.0 Specification Review"
**Specification issue template**

When creating a specification project release review, create an issue in the [MicroProfile-WG repository](https://github.com/microprofile/microprofile-wg) repo with the content defined as follows.
- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-

[2022-08-31 22:19] Emily-Jiang opened #173 "MicroProfile Reactive Messaging 3.0 Specification Review"
**Specification issue template**

When creating a specification project release review, create an issue in the [MicroProfile-WG repository](https://github.com/microprofile/microprofile-wg) repo with the content defined as follows.
- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-

[2022-09-12 07:09] dalexandrov opened #174 "[EPIC] Yearly Program Plan - MPWG Repo Mktg Tasks"
- [ ] [Grow MicroProfile community #151](https://github.com/microprofile/microprofile-wg/issues/151)
- [ ] [Define and track metrics on community outreach #150](https://github.com/microprofile/microprofile-wg/issues/150)
- [ ] [Continue to encourage participation across the wider community via mailing list, google group, and tweets. #149](https://github.com/microprofile/microprofile-wg/issues/149)

[2022-09-12 07:19] dalexandrov opened #175 "Offer free t-shirts/stickers/swag to individuals spreading word about MP"
Create a list of individuals spreading word about MicroProfile to offer them Offer free t-shirts/stickers/swag for their talks. Include more DevOps representatives.

[2022-09-12 17:08] majidmostafavi commented on #151
On of my suggestion https://github.com/eclipse/microprofile-marketing/issues/708

[2022-09-12 17:21] Emily-Jiang commented on #151
From the recent JakartaOne Livestream Chinese, a few Chinese companies either evaluating MicroProfile and using MicroProfile technologies. Two MicroProfile talks were among the [JakartaOne Livestream Chinese](https://jakartaone.org/2022/chinese/) talks.
I have introduced them to join MicroProfile Working Group as a memeber. They are evluating and discussing internally. They will reach out to me wh

[2022-09-12 20:44] aeiras commented on #174
<img width="760" alt="image" src="https://user-images.githubusercontent.com/10731224/189755061-0ac83c4a-9ead-4cdf-ad7b-febbb881725e.png">

@dalexandrov,

Mitia, please be in the look out for the access invite from github. Do accept it asap when you see it. Do confirm access via this ticket.

[2022-09-22 18:21] jclingan commented on #150
Community thread started [here](https://groups.google.com/g/microprofile/c/PQBTivb3v4U).

[2022-09-22 18:27] JanWesterkamp-iJUG opened #178 "The included spec list is formatted differntly (as code instead of a list of links), somehow doubled and contains typos:"
The included spec list is formatted differntly (as code instead of a list of links), somehow doubled and contains typos:

https://github.com/eclipse/microprofile/blob/master/spec/src/main/asciidoc/architecture.asciidoc

Typos:
Open API -> OpenAPI (the spec repo name itself has that problem too !)
Open Tracing -> OpenTracing

JWT RBAC is the spec name, but the i.e. repo is named microprofile-jwt-au

[2022-09-22 18:29] #178 closed

[2022-09-26 08:02] dalexandrov commented on #174
I have accepted

[2022-09-26 17:12] dalexandrov commented on #150
More presence in LinkedIn with articles and releases, sessions.
Talk to Rafael Benevides about closing the https://www.linkedin.com/company/eclipsemicroprofile/

[2022-10-10 17:43] rstjames commented on #146
Note: use tags to organize  blogs, videos, products, etc

[2022-10-10 17:49] rstjames commented on #145
iterate on https://microprofile.io/microprofile-config/ and move other specs forward.

[2022-10-12 08:59] rstjames commented on #145
@Emily-Jiang what is the next step to move this forward. Contact spec leads and have them create a page as you did?

From my side:
- I think we should restructure the URL so that it is https://microprofile.io/**components**/microprofile-config/ ???
Any suggestions on what is the nest title for geographical domain? .io/????????????/microprofile-config/

[2022-10-12 22:11] Emily-Jiang commented on #145
I created this page from my local fork as it nees the admin access right to enable `settings`. I think we just need a couple of people to do it for all of the specs. All specs just need to create the content and the admin enables the github pages. I had  a quick look but I could not find a way to change the url as yet. I will take a further look later.

[2022-10-24 19:16] MikeEdgar opened #179 "MicroProfile OpenAPI 3.1 Specification Review"
**Specification Release Review for MicroProfile OpenAPI 3.1**

- [x] Specification name and version<br/>_MicroProfile OpenAPI 3.1_
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-_project_-spec-_version_.pdf
   - [x] Specification HTML in the form of microprofile-_project_-spec-_version_.html
   - _project_ is the

[2022-11-07 16:34] Emily-Jiang opened #180 "MicroProfile Telemetry 1.0 Specification Review"
**Specification issue template**

When creating a specification project release review, create an issue in the [MicroProfile-WG repository](https://github.com/microprofile/microprofile-wg) repo with the content defined as follows.
- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-

[2022-11-10 15:11] xstefank commented on #116
Moved to https://github.com/eclipse/microprofile/issues/284

[2022-11-10 15:11] #116 closed

[2022-11-14 12:01] Emily-Jiang opened #181 "MicroProfile Metrics 5.0 Specification Review"
**Specification issue template**

When creating a specification project release review, create an issue in the [MicroProfile-WG repository](https://github.com/microprofile/microprofile-wg) repo with the content defined as follows.
- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-

[2022-11-14 12:08] Emily-Jiang opened #182 "MicroProfile JWT 2.1 Specification Review"
**Specification issue template**

When creating a specification project release review, create an issue in the [MicroProfile-WG repository](https://github.com/microprofile/microprofile-wg) repo with the content defined as follows.
- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-

[2022-11-15 11:40] Emily-Jiang opened #183 "MicroProfile 6.0 Specification Review"
**Specification issue template**

When creating a specification project release review, create an issue in the [MicroProfile-WG repository](https://github.com/microprofile/microprofile-wg) repo with the content defined as follows.
- [x] Specification name and version
- [x] Add the label `Release Review`
- [x] Naming conventions for artifacts:
   - [x] Specification PDF in the form of microprofile-

[2022-11-15 22:26] #173 closed

[2022-11-15 22:27] #172 closed

[2022-11-18 18:39] radcortez commented on #179
@MikeEdgar please, feel free to proceed with the remaining tasks to publish the release. Thanks!

[2022-11-22 14:11] radcortez commented on #160
For older versions, the parent POM included the Jakarta Annotations, and Jakarta Interceptors is being pulled transitively by CDI. There is not much we can do there.

We now list Jakarta Annotations as being part of the platform. For Jakarta Interceptors, it is required by CDI, so we need to include it as well.

The Jakarta Core Profile adoption was added in https://github.com/eclipse/microprofile

[2022-11-22 14:11] #160 closed

[2022-11-22 14:14] radcortez commented on #128
This is complete with MP 5.0 and MP 6.0.

[2022-11-22 14:14] #128 closed

[2022-11-29 18:05] #180 closed

[2022-11-29 18:06] #179 closed